﻿#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_ARABIC, SUBLANG_ARABIC_SAUDI_ARABIA

STRINGTABLE
BEGIN
    IDS_UPDATES_CHECKING_T      "يتم البجث عن تحديث جديد…"
    IDS_UPDATES_AVAILABLE_T     "الإصدار %d.%d.%d.%d متاح"
    IDS_UPDATES_AVAILABLE_T_U   "إصدار جديد متاح"
    IDS_UPDATES_AVAILABLE_B     "يمكن التحديث بالضغط اليمين على شريط المهام ثم اختيار ""الخصائص""، ثم ""التحديثات"". اضغط هنا للاستعلام."
    IDS_UPDATES_ISLATEST_T      "لا يوجد تحديثات"
    IDS_UPDATES_ISLATEST_B      "أعد المحاولة لاحقاً."
    IDS_UPDATES_CHECKFAILED_T   "غير قادر على اكتشاف التحديثات"
    IDS_UPDATES_CHECKFAILED_B   "تأكد من وجود الاتصال بالإنترنت وأن الخادم فعال."
    IDS_UPDATES_DOWNLOADING_T   "يتم تحميل وتثبيت التحديث…"
    IDS_UPDATES_SUCCESS_T       "التحديث نجح"
    IDS_UPDATES_DLFAILED_T      "التحديث فشل"
    IDS_UPDATES_DLFAILED_B      "تم رفض الطلب أو حدث خطأ في التثبيت."
    IDS_UPDATES_INSTALLEDVER    "الإصدار المثبت على الجهاز: %d.%d.%d.%d"
    IDS_UPDATES_PROMPT          "هل ترغب في تحديث ExplorerPatcher؟\n\nمصدر التحميل:\n%s"

    IDS_SYM_DL_T                "يتم تحميل رموز النظام نسخة %s، انتظر…"
    IDS_SYM_DL_B                "سيأخد الأمر بضع دقائق. ExplorerPatcher يعمل بشكل محدود حالياً. اضغط هنا للاستعلام عن الرموز."
    IDS_SYM_SUCCESS_T           "تم تحميل رموز النظام نسخة %s"
    IDS_SYM_SUCCESS_B           "من فضلك أعد تشغيل مستكشف الملفات للعمل بشكل طبيعي."
    IDS_SYM_FAILEDSOME_T        "تم تحميل بعض رموز النظام نسخة %s"
    IDS_SYM_FAILEDSOME_B        "فشل تحميل بعض الرموز. ممكن أن يكون بسبب أن النسخة حديثة جداً أو بطئ الإنترنت."
    IDS_SYM_FAILEDALL_T         "فشل تحميل رموز النظام نسخة %s"
    IDS_SYM_FAILEDALL_B         "فشل تحميل أي رمز. ممكن أن يكون بسبب أن النسخة حديثة جداً أو بطئ الإنترنت."

    IDS_CRASH_TITLE             "لا يعمل مستكشف الملفات بشكل طبيعي"
    IDS_CRASH_BODY              "أغلق مستكشف الملفات نفسه %1$s في أقل من %2$d ثواني بعد فتح الجهاز. ممكن أن يكون بسبب ExplorerPatcher بعد تحديث النسخة.\nاقتراحات للحل:\n• في حالة وجود تحديث، يمكنك <A HREF=""%3$s"">تحديث ExplorerPatcher وإعادة تشغيل مستكشف الملفات</A>.\n• يمكن <A HREF=""%4$s"">عرض الإصدارات</A>على GitHub أو<A HREF=""%5$s"">التحقق من حالة التطوير</A> أو <A HREF=""%6$s"">المناقشة</A> أو <A HREF=""%7$s"">التحقق من أحدث المشاكل</A>.\n• إذا كنت متأكد أن السبب ليس ExplorerPatcher، احذف أي أداة تحسين مثبتة.\n• في حالة عدم وجود أي حل، <A HREF=""%8$s"">احذف ExplorerPatcher</A>، وثبته من GitHub بعد حل المشكلة. لا تقلق، كل شيء على وضعه بعد الحذف.\n\nأنا آسف على أي عطل في جهازك، أنا أحاول ما في قدر استطاعتي لتحديث البرنامج في أقرب وقت.\n\nتم تعطيل ExplorerPatcher حتى إعادة تشغيل مستكشف الملفات، حتى تقوم بإصلاح جهازك."
    IDS_CRASH_ONCE              "مرة واحدة"
    IDS_CRASH_MULTIPLE          "%d مرات"
    IDS_CRASH_DISMISS           "تجاهل"

    IDS_TB                      "شريط المهام"

    IDS_TB_STYLE                "شكل شريط المهام"
    IDS_TB_STYLE_0              "Windows 11 (الاختيار الافتراضي)"
    IDS_TB_STYLE_1              "Windows 10"
    IDS_TB_STYLE_2              "Windows 10 (ExplorerPatcher)"
    IDS_TB_MORE                 "إعدادات إضافية"
    IDS_TB_CUSTOMIZETRAYICONS   "تخصيص أيقونات منطقة الإشعارات"
    IDS_TB_CUSTOMIZESYSTEMICONS "تخصيص أيقونات النظام في منطقة الإشعارات"
    IDS_TB_PRIMARYTBPOS         "مكان شريط المهام الأساسي"
    IDS_TB_POSBOTTOM            "بالأسفل (الاختيار الافتراضي)"
    IDS_TB_POSTOP               "بالأعلى"
    IDS_TB_POSLEFT              "باليسار"
    IDS_TB_POSRIGHT             "باليمين"
    IDS_TB_SECONDARYTBPOS       "مكان أشرطة المهام الثانوية"
    IDS_TB_EXTRABTN             "زر إضافي"
    IDS_TB_EXTRABTN_0           "مخفي (الاختيار الافتراضي)"
    IDS_TB_EXTRABTN_2           "ظاهر لفتح Cortana"
    IDS_TB_EXTRABTN_1           "ظاهر لفتح Widgets"
    IDS_TB_SEARCHMODE_W11       "اظهر زر البحث"
    IDS_TB_SEARCHMODE           "البحث"
    IDS_TB_SEARCHMODE_0         "مخفي"
    IDS_TB_SEARCHMODE_1         "اظهر أيقونة البحث"
    IDS_TB_SEARCHMODE_2         "اظهر صندوق البحث"
    IDS_TB_CORTANABTN           "اظهر زر Cortana"
    IDS_TB_TASKVIEWBTN          "اظهر زر عرض المهام"
    IDS_TB_WIDGETSBTN           "اظهر زر Widgets"
    IDS_TB_AUTOHIDETB           "إخفاء شريط المهام تلقائياً"
    IDS_TB_STARTBTNSTYLE        "شكل زر ""ابدأ"""
    IDS_TB_STARTBTNSTYLE_0      "Windows 10 (الاختيار الافتراضي)"
    IDS_TB_STARTBTNSTYLE_1      "Windows 11"
    IDS_TB_PRIMARYTBALIGN       "مكان العناصر على شريط المهام الأساسي"
    IDS_TB_TBALIGN_0            "على الجانب (الاختيار الافتراضي)"
    IDS_TB_TBALIGN_1            "متمركزة"
    IDS_TB_TBALIGN_5            "متمركزة، لكن على الجانب عندما تكثر"
    IDS_TB_TBALIGN_3            "متمركزة، مع زر ""ابدأ"""
    IDS_TB_TBALIGN_7            "متمركزة، مع زر ""ابدأ""، لكن على الجانب عندما تكثر"
    IDS_TB_SECONDARYTBALIGN     "مكان العناصر على أشرطة المهام الثانوية"
    IDS_TB_PRIMARYTBGLOM        "دمج الأيقونات شريط المهام الأساسي"
    IDS_TB_GLOM_0_D             "دائماً (الاختيار الافتراضي)"
    IDS_TB_GLOM_0               "دائماً"
    IDS_TB_GLOM_1               "الدمج عند الكثرة"
    IDS_TB_GLOM_2_D             "أبداً (الاختيار الافتراضي)"
    IDS_TB_GLOM_2               "أبداً"
    IDS_TB_SECONDARYTBGLOM      "دمج الأيقونات أشرطة المهام الثانوية"
    IDS_TB_ICONSIZE             "حجم الأيقونات"
    IDS_TB_ICONSIZE_1           "صغيرة"
    IDS_TB_ICONSIZE_0           "كبيرة (الاختيار الافتراضي)"
    IDS_TB_ALTIMPL_NOTICE       "موقع مهم عن معلومات عن شريط المهام في ExplorerPatcher"

    IDS_TRAY                    "منطقة أيقونات النظام"

    IDS_TRAY_SKINMENUS          "تطبيق السمات على القوائم"
    IDS_TRAY_CENTERMENUS        "تمركز قوائم شريط المهام"
    IDS_TRAY_FLYOUTMENUS        "معاملة القوائم بأنها تطفو"
    IDS_TRAY_TOUCHKB            "اظهر زر لوحة المفاتيح الافتراضية"
    IDS_TRAY_SHOWSECONDS        "اظهر الثواني في الساعة الرقمية"
    IDS_TRAY_CCBTN              "زر مركز التحكم"
    IDS_TRAY_SHOWDESKTOPBTN     "زر عرض سطح المكتب"
    IDS_TRAY_SHOWDESKTOPBTN_1   "مفعل (الاختيار الافتراضي)"
    IDS_TRAY_SHOWDESKTOPBTN_0   "معطل"
    IDS_TRAY_SHOWDESKTOPBTN_2   "مخفي"
    IDS_TRAY_SKINICONS          "أيقونات Windows 11"
    IDS_TRAY_REPLACENETWORK_L1  "اختيار 'فتح إعدادات الشبكة والإنترنت' عند الضغط اليمين على"
    IDS_TRAY_REPLACENETWORK_L2  "أيقونة الشبكة يقوم بفتح"
    IDS_TRAY_REPLACENETWORK_0   "قائمة الشبكات في الإعدادات (الاختيار الافتراضي)"
    IDS_TRAY_REPLACENETWORK_1   "مركز الشبكات والمشاركة في لوحة التحكم"
    IDS_TRAY_REPLACENETWORK_2   "اتصالات الشبكة في لوحة التحكم"
    IDS_TRAY_SYSICONBEHAVIOR    "افتح التالي عند الضغط على أيقونة:"
    IDS_TRAY_NETWORK            "الشبكة"
    IDS_TRAY_NETWORK_6          "مركز التحكم"
    IDS_TRAY_NETWORK_5          "Windows 11 قائمة"
    IDS_TRAY_NETWORK_0          "Windows 10 قائمة (الاختيار الافتراضي)"
    IDS_TRAY_NETWORK_2          "Windows 8 قائمة"
    IDS_TRAY_NETWORK_1          "قائمة الشبكات في الإعدادات"
    IDS_TRAY_SOUND              "الصوت"
    IDS_TRAY_SOUND_1            "Windows 10 قائمة (الاختيار الافتراضي)"
    IDS_TRAY_SOUND_0            "Windows 7 قائمة"
    IDS_TRAY_CLOCK              "الساعة"
    IDS_TRAY_CLOCK_2            "Windows 11 قائمة"
    IDS_TRAY_CLOCK_0            "Windows 10 قائمة (الاختيار الافتراضي)"
    IDS_TRAY_CLOCK_1            "Windows 7"
    IDS_TRAY_CLOCK_2_W10        "مركز الإعلام"
    IDS_TRAY_BATTERY            "البطارية"
    IDS_TRAY_BATTERY_0          "Windows 10 قائمة (الاختيار الافتراضي)"
    IDS_TRAY_BATTERY_1          "Windows 7"
    IDS_TRAY_LANGSWITCHER       "قائمة اللغات"
    IDS_TRAY_LANGSWITCHER_0     "Windows 11 (الاختيار الافتراضي)"
    IDS_TRAY_LANGSWITCHER_1_21H2 "Windows 10 (مع رابط ""تفضيلات اللغة"")"
    IDS_TRAY_LANGSWITCHER_7     "Windows 10"
    IDS_TRAY_LANGSWITCHER_1     "Windows 10 (مع رابط ""تفضيلات اللغة"") (بدون تحريك)"
    IDS_TRAY_LANGSWITCHER_4     "Windows 10 (بدون تحريك)"

    IDS_EXP                     "مستكشف الملفات"

    IDS_EXP_SHEXT_L1            "يجب تسجيل هذا البرنامج كامتداد للنظام حتى تعمل الخيارات التي"
    IDS_EXP_SHEXT_L2            "بها نجمتين في نوافذ ""فتح"" أو ""حفظ""."
    IDS_EXP_SHEXT_LEARN         "الاستعلام"
    IDS_EXP_SHEXT_REGISTER      "تسجيل كامتداد للنظام"
    IDS_EXP_DISABLECTXMENU      "تعطيل قائمة الضغط اليمين الحديثة"
    IDS_EXP_LEGACYFTDIALOG      "استخدام نافذة نقل الملفات القديمة"
    IDS_EXP_CLASSICDRIVEGROUP   "استخدام التصنيف القديم لصفة ""هذا الكمبيوتر الشخصي"""
    IDS_EXP_CTRLINTF            "الواجهة"
    IDS_EXP_CTRLINTF_0_W11      "Windows 11 (الاختيار الافتراضي)"
    IDS_EXP_CTRLINTF_0_W10      "Windows 10 (الاختيار الافتراضي)"
    IDS_EXP_CTRLINTF_1_W11      "Windows 10"
    IDS_EXP_CTRLINTF_2          "Windows 7"
    IDS_EXP_CTRLINTF_3          "Windows 11 (بدون علامات تبويب، مع شريط العنوان القديم)"
    IDS_EXP_CTRLINTF_4          "Windows 11 (مع شريط العنوان القديم)"
    IDS_EXP_NEWWINDOWS          "يظهر تأثير هذه الإعدادات عند فتح نوافذ جديدة بعد تطبيقها:"
    IDS_EXP_IMMERSIVEMENUS      "استخدام قوائم Immersive في مستكشف الملفات"
    IDS_EXP_DISABLENAVBAR       "تعطيل شريط العنوان والبحث"
    IDS_EXP_DISABLESEARCHBAR    "تعطيل شريط بحث الويب"
    IDS_EXP_SHRINKADDRESSBAR    "تصغير الأشرطة"
    IDS_EXP_HIDESEARCHBAR       "إخفاء شريط البحث"
    IDS_EXP_TITLEBAR            "الشريط العلوي"
    IDS_EXP_TITLEBAR_0          "الأيقونة والنص (الاختيار الافتراضي)"
    IDS_EXP_TITLEBAR_1          "الأيقونة فقط"
    IDS_EXP_TITLEBAR_2          "النص فقط"
    IDS_EXP_TITLEBAR_3          "خالي"
    IDS_EXP_MICA                "استخدام Mica على شريط العنوان والبحث في واجهة Windows 7"

    IDS_START                   "قائمة ""ابدأ"""

    IDS_START_STYLE             "شكل القائمة"
    IDS_START_STYLE_0           "Windows 11 (الاختيار الافتراضي)"
    IDS_START_STYLE_1           "Windows 10"
    IDS_START_MORE              "إعدادات إضافية"
    IDS_START_POSITION          "المكان على الشاشة"
    IDS_START_POSITION_0        "الجانب"
    IDS_START_POSITION_1        "المنتصف (الاختيار الافتراضي)"
    IDS_START_MAXFREQAPPS       "أكبر عدد من البرامج الأكثر استخداماً للعرض"
    IDS_START_MAXFREQAPPS_0     "صفر"
    IDS_START_MAXFREQAPPS_6     "6 (الاختيار الافتراضي)"
    IDS_START_MAXFREQAPPS_99999 "بلا نهاية"
    IDS_START_MONITOROVERRIDE_L1 "في حالة وجود أكثر من شاشة، افتح القائمة في الشاشة الحالية باستخدام"
    IDS_START_MONITOROVERRIDE_L2 "لوحة المفاتيح"
    IDS_START_MONITOROVERRIDE_1 "الشاشة الرئيسية (الاختيار الافتراضي)"
    IDS_START_MONITOROVERRIDE_0 "الشاشة الذي يوجد عليها الماوس"
    IDS_START_MONITOROVERRIDE_2 "الشاشة رقم 2"
    IDS_START_MONITOROVERRIDE_3 "الشاشة رقم 3"
    IDS_START_MONITOROVERRIDE_4 "الشاشة رقم 4"
    IDS_START_MONITOROVERRIDE_5 "الشاشة رقم 5"
    IDS_START_MONITOROVERRIDE_6 "الشاشة رقم 6"
    IDS_START_MONITOROVERRIDE_7 "الشاشة رقم 7"
    IDS_START_MONITOROVERRIDE_8 "الشاشة رقم 8"
    IDS_START_MONITOROVERRIDE_9 "الشاشة رقم 9"
    IDS_START_NORECOMMENDED     "تعطيل منطقة ""المفضلة"""
    IDS_START_MAKEALLAPPSDEFAULT "افتح القائمة على كل التطبيقات مباشرةً"
    IDS_START_SHOWMORETILES     "اظهر مربعات أكثر"
    IDS_START_CORNERPREF        "انحناء الأطراف"
    IDS_START_CORNERPREF_1      "منحنية وقليلاً للأعلى"
    IDS_START_CORNERPREF_2      "منحنية"
    IDS_START_CORNERPREF_0      "غير منحنية"
    IDS_START_DISPLAYMODE       "هيئة القائمة"
    IDS_START_DISPLAYMODE_0     "الاختيار الافتراضي"
    IDS_START_DISPLAYMODE_1     "نافذة"
    IDS_START_DISPLAYMODE_2     "ملء الشاشة"
    IDS_START_APPLIST           "قائمة التطبيقات"
    IDS_START_APPLIST_0         "معروضة"
    IDS_START_APPLIST_3         "مخفية"
    IDS_START_APPLIST_1         "معطلة"
    IDS_START_NOTICE            "موقع عن معلومات مهمة عن هذه الميزة"
    IDS_START_WIN10_NOTICE      "لا يمكن تفعيل بعض الخيارات على إصدارات Windows 10 القديمة."

    IDS_AT                      "مبدل المهام"

    IDS_AT_STYLE                "شكل مبدل المهام"
    IDS_AT_STYLE_0_W11          "Windows 11 (الاختيار الافتراضي)"
    IDS_AT_STYLE_0_W10          "Windows 10 (الاختيار الافتراضي)"
    IDS_AT_STYLE_3              "Windows 10"
    IDS_AT_STYLE_1              "Windows NT"
    IDS_AT_STYLE_2              "Simple Window Switcher"
    IDS_AT_SWS_INCLUDEWALLPAPER "اظهر سطح المكتب كآخر عنصر"
    IDS_AT_SWS_PRIMARYONLY      "عرض المبدل على الشاشة الرئيسية فقط"
    IDS_AT_SWS_PERMONITOR       "عرض النوافذ المفتوحة في الشاشة التي بها الماوس فقط"
    IDS_AT_SWS_GROUPWINDOWS     "دمج النوافذ من نفس البرنامج"
    IDS_AT_SWS_NOPERAPP         "تعطيل قوائم التفاعل للبرامج ( Alt + %c )"
    IDS_AT_SWS_THEME            "الشكل"
    IDS_AT_SWS_THEME_0          "الافتراضي"
    IDS_AT_SWS_THEME_1          "Acrylic"
    IDS_AT_SWS_THEME_2          "Mica (معتم دائماً)"
    IDS_AT_SWS_OPACITY          "مدى التعتيم"
    IDS_AT_SWS_OPACITY_100      "معتم"
    IDS_AT_SWS_OPACITY_95       "95 % (الاختيار الافتراضي)"
    IDS_AT_SWS_COLORSCHEME      "اللون"
    IDS_AT_SWS_COLORSCHEME_0    "على حسب النظام (الاختيار الافتراضي)"
    IDS_AT_SWS_COLORSCHEME_1    "فاتح"
    IDS_AT_SWS_COLORSCHEME_2    "داكن"
    IDS_START_CORNERPREF        "انحناء الأطراف"
    IDS_START_CORNERPREF_2      "منحنية (الاختيار الافتراضي)"
    IDS_START_CORNERPREF_1      "منحنية قليلاً"
    IDS_START_CORNERPREF_3      "غير منحنية"
    IDS_AT_SWS_ROWHEIGHT        "ارتفاع الصف"
    IDS_AT_SWS_ROWHEIGHT_230    "230 نقطة (الاختيار الافتراضي)"
    IDS_AT_SWS_MAXWIDTH         "أقصى نسبة عرض من الشاشة"
    IDS_AT_SWS_MAXWIDTH_100     "100 % (غير مستحب)"
    IDS_AT_SWS_MAXWIDTH_80      "80 % (الاختيار الافتراضي)"
    IDS_AT_SWS_MAXHEIGHT        "أقصى نسبة ارتفاع من الشاشة"
    IDS_AT_SWS_MAXHEIGHT_100    "100 % (غير مستحب)"
    IDS_AT_SWS_MAXHEIGHT_80     "80 % (الاختيار الافتراضي)"
    IDS_AT_SWS_PADDING          "المسافة بين الأطراف والمحتوى"
    IDS_AT_SWS_PADDING_20       "20 نقطة (الاختيار الافتراضي)"
    IDS_AT_SWS_PADDING_0        "صفر"
    IDS_AT_SWS_SHOWDELAY        "تأجيل عرض النافذة"
    IDS_AT_SWS_SHOWDELAY_0      "بدون تأجيل"
    IDS_AT_SWS_SHOWDELAY_25     "25 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_50     "50 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_75     "75 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_100    "100 ملي ثانية (الاختيار الافتراضي)"
    IDS_AT_SWS_SHOWDELAY_125    "125 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_150    "150 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_200    "200 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_300    "300 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_400    "400 ملي ثانية"
    IDS_AT_SWS_SHOWDELAY_500    "500 ملي ثانية"
    IDS_AT_SWS_SCROLLWHEEL      "استخدام عجلة الماوس للتحريك بين العناصر"
    IDS_AT_SWS_SCROLLWHEEL_0    "أبداً (الاختيار الافتراضي)"
    IDS_AT_SWS_SCROLLWHEEL_1    "في حالة وجود الماوس على المبدل"
    IDS_AT_SWS_SCROLLWHEEL_2    "دائماً"
    IDS_AT_SWS_LEARN            "الاستعلام عن Simple Window Switcher"

    IDS_WEATHER                 "الطقس"

    IDS_WEATHER_SHOW            "اظهر الطقس على شريط المهام"
    IDS_WEATHER_LOC             "العنوان"
    IDS_WEATHER_LOC_PROMPT      "ابحث عن العنوان أو كود المنطقة; سيقوم البارنامج بالبحث عن ""حالة الطقس في /* العنوان المكتوب */"" على Google. اترك هذه الخانة خالية لاستخدام عنوانك الحالي."
    IDS_WEATHER_LOC_DEFAULT     "العنوان الحالي (الاختيار الافتراضي)"
    IDS_WEATHER_LAYOUT          "المظهر"
    IDS_WEATHER_LAYOUT_0        "الأيقونة والوصف (الاختيار الافتراضي)"
    IDS_WEATHER_LAYOUT_3        "الأيقونة ودرجة الحرارة"
    IDS_WEATHER_LAYOUT_1        "الأيقونة فقط"
    IDS_WEATHER_LAYOUT_4        "درجة الحرارة فقط"
    IDS_WEATHER_LAYOUT_5        "درجة الحرارة والوصف"
    IDS_WEATHER_SIZE            "حجم القائمة"
    IDS_WEATHER_SIZE_0          "حجم تلقائي (الاختيار الافتراضي)"
    IDS_WEATHER_SIZE_2          "حجم تلقائي مع حدود معينة"
    IDS_WEATHER_SIZE_1          "حجم ثابت"
    IDS_WEATHER_POSITION        "مكان القائمة"
    IDS_WEATHER_POSITION_0      "اليمين/الأسفل (الاختيار الافتراضي)"
    IDS_WEATHER_POSITION_1      "اليسار/الأعلى"
    IDS_WEATHER_UPDATEFREQ      "مدى تحديث البيانات"
    IDS_WEATHER_UPDATEFREQ_60   "كل دقيقة"
    IDS_WEATHER_UPDATEFREQ_300  "كل 5 دقائق"
    IDS_WEATHER_UPDATEFREQ_900  "كل ربع ساعة"
    IDS_WEATHER_UPDATEFREQ_1200 "كل ثلث ساعة (الاختيار الافتراضي)"
    IDS_WEATHER_UPDATEFREQ_1800 "كل نصف ساعة"
    IDS_WEATHER_UPDATEFREQ_3600 "كل ساعة"
    IDS_WEATHER_UPDATEFREQ_7200 "كل ساعتين"
    IDS_WEATHER_TEMPUNIT        "وحدة القياس"
    IDS_WEATHER_TEMPUNIT_0      "درجة مئوية (الاختيار الافتراضي)"
    IDS_WEATHER_TEMPUNIT_1      "فهرنهايت"
    IDS_WEATHER_LANG            "اللغة"
    IDS_WEATHER_LANG_PROMPT     "اكتب كود اللغة التي تريد عرضها. جرب كتابة ""en""، ""ro""، ""de""، ""fr"" إلخ. اترك هذه الخانة خالية لاستخدام لغة النظام الحالية."
    IDS_WEATHER_LANG_DEFAULT    "لغة النظام (الاختيار الافتراضي)"
    IDS_WEATHER_COLORSCHEME      "اللون"
    IDS_WEATHER_COLORSCHEME_0    "على حسب النظام (الاختيار الافتراضي)"
    IDS_WEATHER_COLORSCHEME_1    "فاتح"
    IDS_WEATHER_COLORSCHEME_2    "داكن"
    IDS_WEATHER_CORNERPREF        "انحناء الأطراف"
    IDS_WEATHER_CORNERPREF_2      "منحنية (الاختيار الافتراضي)"
    IDS_WEATHER_CORNERPREF_1      "منحنية قليلاً"
    IDS_WEATHER_CORNERPREF_3      "غير منحنية"
    IDS_WEATHER_ICONPACK        "شكل الأيقونات"
    IDS_WEATHER_ICONPACK_0      "Microsoft (الاختيار الافتراضي)"
    IDS_WEATHER_ICONPACK_1      "Google"
    IDS_WEATHER_CONTENTSMODE    "عرض المحتويات"
    IDS_WEATHER_CONTENTSMODE_0  "على سطر واحد (الاختيار الافتراضي)"
    IDS_WEATHER_CONTENTSMODE_1  "على سطرين"
    IDS_WEATHER_ZOOM            "مدى التكبير"
    IDS_WEATHER_ZOOM_100        "100 % (الاختيار الافتراضي)"
    IDS_WEATHER_LEARN           "الاستعلام عن الطقس في شريط المهام"
    IDS_WEATHER_LASTUPDATE      "آخر تحديث: %s، %s."
    IDS_WEATHER_UPDATE          "التحديث الآن"
    IDS_WEATHER_CLEAR           "حذف كل بيانات الطقس المسجلة على الجهاز"
    IDS_WEATHER_CLEAR_PROMPT    "هل أنت متأكد من حذف كل البيانات؟\n\nسيحافظ هذا الخيار على تفضيلاتك. ممكن أن يقوم ذلك الخيار بإصلاح بعض الأعطال في القائمة،."
    IDS_WEATHER_CLEAR_WAIT      "انتظر…"
    IDS_WEATHER_CLEAR_SUCCESS   "تم حذف بيانات الطقس."
    IDS_WEATHER_CLEAR_FAILED    "حدث خطأ أثناء حذف البيانات."

    IDS_SP                      "Spotlight"

    IDS_SP_HIDEICON             "إخفاء أيقونة ""معرفة المزيد عن الصورة"""
    IDS_SP_DESKTOPMENU          "العناصر في قائمة الضغط اليمين"
    IDS_SP_DESKTOPMENU_0        "لا شيء"
    IDS_SP_DESKTOPMENU_32       "انتقل للصورة التالية"
    IDS_SP_DESKTOPMENU_48       "معرفة المزيد وانتقل للصورة التالية"
    IDS_SP_DESKTOPMENU_288      "معلومات وانتقل للصورة التالية"
    IDS_SP_DESKTOPMENU_800      "معلومات وحقوق النشر وانتقل للصورة التالية"
    IDS_SP_DESKTOPMENU_304      "معلومات ومعرفة المزيد وانتقل للصورة التالية"
    IDS_SP_DESKTOPMENU_816      "معلومات وحقوق النشر ومعرفة المزيد وانتقل للصورة التالية"
    IDS_SP_DESKTOPMENU_1008     "كل العناصر"
    IDS_SP_UPDATEFREQ      "مدى تحديث الخلفية"
    IDS_SP_UPDATEFREQ_0   "اجعل Windows ينظم ذلك (الاختيار الافتراضي)"
    IDS_SP_UPDATEFREQ_60   "كل دقيقة"
    IDS_SP_UPDATEFREQ_300  "كل 5 دقائق"
    IDS_SP_UPDATEFREQ_900  "كل ربع ساعة"
    IDS_SP_UPDATEFREQ_1200 "كل ثلث ساعة (الاختيار الافتراضي)"
    IDS_SP_UPDATEFREQ_1800 "كل نصف ساعة"
    IDS_SP_UPDATEFREQ_3600 "كل ساعة"
    IDS_SP_UPDATEFREQ_7200 "كل ساعتين"
    IDS_SP_UPDATEFREQ_21600     "كل 6 ساعات"
    IDS_SP_UPDATEFREQ_43200     "كل 12 ساعة"
    IDS_SP_UPDATEFREQ_86400     "كل يوم مرة"
    IDS_SP_MOREOPTIONS          "خيارات أخرى"

    IDS_OTHER                   "إعدادات أخرى"

    IDS_OTHER_REMEMBERLAST      "تذكر آخر قائمة تم استخدامها في هذا البرنامج"
    IDS_OTHER_CLOCKFLYOUT       "افتح الساعة بدل Teams عند ضغط Win+C"
    IDS_OTHER_TOOLBARSEPARATORS "اظهر الخطوط الفارقة بين أشرطة الأدوات"
    IDS_OTHER_WINXPROPERTIES    "أضف قائمة ""الخصائص"" في Win+X"
    IDS_OTHER_DONTUSEPOWERSHELL "عرض موجه الأوامر بدل PowerShell في Win+X"
    IDS_OTHER_WINXACCELERATOR   "إزالة الخطوط تحت الحروف في Win+X"
    IDS_OTHER_DISABLEOFFICE     "تعطيل اختصارات فتح Office (Ctrl+Alt+Shift+Windows)"
    IDS_OTHER_DISABLEWINF       "تعطيل Win+F"
    IDS_OTHER_DISABLERC         "إزالة الانحناء من النوافذ"
    IDS_OTHER_DISABLEAEROSNAP   "إزالة الأرباع عند وضع النوافذ على أطراف الشاشة"
    IDS_OTHER_SNAPASSISTSTYLE   "شكل Snap Assist"
    IDS_OTHER_SNAPASSISTSTYLE_0 "Windows 11 (الاختيار الافتراضي)"
    IDS_OTHER_SNAPASSISTSTYLE_3 "Windows 10"
    IDS_OTHER_PWRBTNACTION      "المهمة الافتراضية عند ضغط Alt+F4 على سطح المكتب"
    IDS_OTHER_PWRBTNACTION_256  "تبديل المستخدم"
    IDS_OTHER_PWRBTNACTION_1    "تسجيل الخروج"
    IDS_OTHER_PWRBTNACTION_16   "سكون"
    IDS_OTHER_PWRBTNACTION_64   "إسبات"
    IDS_OTHER_PWRBTNACTION_2    "إيقاف التشغيل (الاختيار الافتراضي)"
    IDS_OTHER_PWRBTNACTION_4    "إعادة التشغيل"
    IDS_OTHER_NOREDIRECT        "استعادة صفحات لوحة التحكم التالية:"
    IDS_OTHER_NOREDIRECT_SYSTEM "صفحة ""النظام"""
    IDS_OTHER_NOREDIRECT_PROGRAMS "صفحة ""البرامج"""
    IDS_OTHER_NOREDIRECT_DATETIME "التاريخ والوقت"
    IDS_OTHER_NOREDIRECT_TRAYICONS "تخصيص أيقونات النظام"

    IDS_UPDATES                 "التحديثات"

    IDS_UPDATES_POLICY          "عند تشغيل الجهاز"
    IDS_UPDATES_POLICY_1        "إرسال إشعار عن التحديث (الاختيار الافتراضي)"
    IDS_UPDATES_POLICY_0        "اسأل لتثبيت التحديث"
    IDS_UPDATES_POLICY_2        "لا تحقق من التحديثات"
    IDS_UPDATES_PREFER_STAGING  "استقبال إصدارات تجريبية (غير مستحب)"
    IDS_UPDATES_DOWNGRADES      "اقترح أحدث إصدار على الخادم حتى لو كان قديم (غير مستحب)"
    IDS_UPDATES_UPDATESERVERS   "الخوادم:"
    IDS_UPDATES_RELEASES        "الإصدارات"
    IDS_UPDATES_RELEASES_PROMPT "اكتب اسم الموقع الذي يوفر الموارد وفقاً لـ GitHub's releases API. تحقق من الـ wiki لمعرفة كيفية تنصيب خادم خاص بك."
    IDS_UPDATES_STAGING         "الإصدارات التجريبية"
    IDS_UPDATES_STAGING_PROMPT  "اكتب اسم الموقع الذي يوفر الموارد وفقاً لـ GitHub's pre-releases API. تحقق من الـ wiki لمعرفة كيفية تنصيب خادم خاص بك."
    IDS_UPDATES_CHECK           "تحقق من التحديثات"
    IDS_UPDATES_INSTALL         "التحديث الآن وإعادة تشغيل مستكشف الملفات"
    IDS_UPDATES_CHANGES         "اقرأ عن التغييرات في آخر تحديث"
    IDS_UPDATES_LEARN           "الاستعلام"

    IDS_ADV                     "إعدادات متقدمة"

    IDS_ADV_DISCLAIMER          "لا تغير هذه الإعدادات إلا عند معرفتك لها."
    IDS_ADV_LEARN               "الاستعلام"
    IDS_ADV_CONSOLE             "سجل أحداث مستكشف الملفات"
    IDS_ADV_MEMCHECK            "حفظ سجلات الذاكرة المسربة"
    IDS_ADV_AUTOHIDE            "اضغط مرتين على شريط المهام لإخفاؤه (في حالة قفل الشريط فقط)"
    IDS_ADV_PAINTDESKTOPVERSION "عرض معلموات النسخة على سطح المكتب"
    IDS_ADV_CLASSICTHEME        "تغيير وضع شريط المهام للكلاسيكي"
    IDS_ADV_SYSLISTVIEW32       "تفعيل SysListView32 في مستكشف الملفات"
    IDS_ADV_NOPROPERTIES        "عدم إضافة عناصر في قوائم شريط المهام (مثل قائمة ""الخصائص"")"
    IDS_ADV_SYMBOLS             "تحميل الرموز"
    IDS_ADV_PINNEDITEMS         "فصل العناصر المثبتة عن البرامج المفتوحة"
    IDS_ADV_REMOVEEXTRAGAP      "إزالة المسافة من العناصر المفتوحة في حالة عرض أسماء البرامج"
    IDS_ADV_DELAY               "تأجيل العمل عند فتح الجهاز"
    IDS_ADV_DELAY_0             "بدون تأجيل (الاختيار الافتراضي)"
    IDS_ADV_DELAY_300           "ثلث ثانية"
    IDS_ADV_DELAY_600           "ثلثين ثانية"
    IDS_ADV_DELAY_1000          "ثانية"
    IDS_ADV_DELAY_1500          "ثانية ونصف"
    IDS_ADV_DELAY_2000          "ثانيتين"
    IDS_ADV_DELAY_3000          "3 ثوان"
    IDS_ADV_DELAY_4000          "4 ثوان"
    IDS_ADV_DELAY_5000          "5 ثوان"
    IDS_ADV_DELAY_6000          "6 ثوان"
    IDS_ADV_DELAY_8000          "8 ثوان"
    IDS_ADV_DELAY_10000         "10 ثوان"
    IDS_ADV_XAMLSOUNDS          "تفعيل أصوات النظام في واجهة مستكشف الملفات الحديثة"

    IDS_ABOUT                   "عن البرنامج"

    IDS_ABOUT_VERSION           "الإصدار %d.%d.%d.%d%s"
    IDS_ABOUT_PROJECT           "مشروع هدفه تسهيل استخدام Windows."
    IDS_ABOUT_AUTHOR            "من تطوير Valentin-Gabriel Radu."
    IDS_ABOUT_OS                "أنت على %s، نسخة %d.%d."
    IDS_ABOUT_GITHUB            "GitHub"
    IDS_ABOUT_WEBSITE           "موقعنا"
    IDS_ABOUT_DONATE            "تبرع لنا"
    IDS_ABOUT_FAQ               "أسئلة شائعة"
    IDS_ABOUT_SETTINGS          "الاستعلام عن هذه الإعدادات"
    IDS_ABOUT_IMPORT            "جلب إعدادات محفوظة"
    IDS_ABOUT_EXPORT            "حفظ الإعدادات"
    IDS_ABOUT_EXPORT_SUCCESS    "تم حفظ الإعدادات."
    IDS_ABOUT_RESET             "استعادة الإعدادات الافتراضية"

    IDS_UNINSTALL               "إزالة"
    IDS_UNINSTALL_UNINSTALL     "إزالة ExplorerPatcher"

    IDS_FOOTER_RESTART          "أعد تشغيل مستكشف الملفات"
END
