#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_KOREAN, SUBLANG_KOREAN

STRINGTABLE
BEGIN
    IDS_UPDATES_CHECKING_T      "업데이트를 확인하는 중…"
    IDS_UPDATES_AVAILABLE_T     "버전 %d.%d.%d.%d을(를) 사용할 수 있음"
    IDS_UPDATES_AVAILABLE_T_U   "새로운 버전 사용 가능"
    IDS_UPDATES_AVAILABLE_B     "작업 표시줄을 오른쪽 마우스 클릭하고, ""속성""을 선택한 다음, ""업데이트""에서 업데이트할 수 있습니다. 이 업데이트에 대해 자세히 알아보려면 여기를 클릭하세요."
    IDS_UPDATES_ISLATEST_T      "사용 가능한 업데이트 없음"
    IDS_UPDATES_ISLATEST_B      "나중에 다시 확인해주세요."
    IDS_UPDATES_CHECKFAILED_T   "업데이트를 확인할 수 없음"
    IDS_UPDATES_CHECKFAILED_B   "인터넷에 연결되어 있고 원격 서버가 온라인인지 확인하세요."
    IDS_UPDATES_DOWNLOADING_T   "업데이트를 다운로드 및 설치하는 중…"
    IDS_UPDATES_SUCCESS_T       "업데이트 성공"
    IDS_UPDATES_DLFAILED_T      "업데이트 실패"
    IDS_UPDATES_DLFAILED_B      "이 업데이트를 설치하려고 시도할 때 요청이 거부되었거나 오류가 발생했습니다."
    IDS_UPDATES_INSTALLEDVER    "설치된 버전: %d.%d.%d.%d"
    IDS_UPDATES_PROMPT          "이 Explorer 업데이트를 설치하시겠어요?\n\n다음에서 다운로드:\n%s"

    IDS_SYM_DL_T                "OS 빌드 %s용 기호를 다운로드하는 중, 잠시만 기다려주세요…"
    IDS_SYM_DL_B                "몇분 정도 걸릴 수 있습니다. 지금은 ExplorerPatcher가 기능적으로 제한되어 있거나 손상되어 있을 수 있습니다. 기호에 대해 자세히 알아보려면 여기를 클릭하세요."
    IDS_SYM_SUCCESS_T           "OS 빌드 %s용 기호 다운로드 성공"
    IDS_SYM_SUCCESS_B           "기능을 제대로 복원하려면 [파일 탐색기]를 다시 시작해주세요."
    IDS_SYM_FAILEDSOME_T        "OS 빌드 %s용 기호를 일부 다운로드함"
    IDS_SYM_FAILEDSOME_B        "일부 다른 기호는 다운로드할 수 없습니다. 현재 OS 빌드가 너무 최신이거나 인터넷 연결이 불안정하기 때문일 수 있습니다."
    IDS_SYM_FAILEDALL_T         "OS 빌드 %s용 기호 다운로드 실패"
    IDS_SYM_FAILEDALL_B         "이 빌드용 기호를 다운로드할 수 없습니다. 현재 OS 빌드가 너무 최신이거나, 인터넷 연결을 사용할 수 없거나, 또는 불안정하기 때문일 수 있습니다."

    IDS_CRASH_TITLE             "안타깝게도, 파일 탐색기가 튕겼네요 :("
    IDS_CRASH_BODY              "시작할 때 %2$d초 안에 [파일 탐색기]가%1$s 예기치 않게 닫힌 것으로 보입니다. 새 OS 빌드에서 실행할 때와 같이 ExplorerPatcher가 Windows의 최근 변경 내용을 알아차리지 못함에 따라 문제가 나타날 수 있습니다.\n다음은 몇가지 권장 사항입니다:\n• 업데이트 버전이 사용 가능할 경우, <A HREF=""%3$s"">ExplorerPatcher를 업데이트하고 [파일 탐색기]를 재시작할</A> 수 있습니다.\n• GitHub에서 <A HREF=""%4$s"">릴리스를 보거나</A>, <A HREF=""%5$s"">현재 상태를 확인하거나</A>, <A HREF=""%6$s"">논의하거나</A> 또는 <A HREF=""%7$s"">최근 문제를 검토할</A> 수 있습니다.\n• ExplorerPatcher로 인해 발생하는 것이 아니라고 의심된다면 최근에 설치한 셸 확장 또는 유사한 유틸리티를 제거해주세요.\n• 당분간 고칠 수 없을 경우 <A HREF=""%8$s"">ExplorerPatcher를 제거하고</A> 나중에 GitHub에 수정 사항이 게시되었을 때 다시 설치할 수 있습니다. 제거하더라도 프로그램 설정은 보존되니까, 안심하세요.\n\n불편을 끼쳐드려 죄송합니다, 이 프로그램이 여전히 업데이트되고 작동하도록 최선을 다하고 있습니다.\n\n유지 관리 작업을 수행하고 필요한 조치를 취할 수 있도록 하기 위해 다음 [파일 탐색기] 다시 시작까지 ExplorerPatcher를 사용하지 않습니다."
    IDS_CRASH_ONCE              ""
    IDS_CRASH_MULTIPLE          " %d번"
    IDS_CRASH_DISMISS           "닫기"

    IDS_TB                      "작업 표시줄"

    IDS_TB_STYLE                "작업 표시줄 스타일"
    IDS_TB_STYLE_0              "Windows 11(기본값)"
    IDS_TB_STYLE_1              "Windows 10"
    IDS_TB_MORE                 "[설정] 앱의 더 많은 작업 표시줄 옵션"
    IDS_TB_CUSTOMIZETRAYICONS   "알림 영역 아이콘 사용자 지정"
    IDS_TB_CUSTOMIZESYSTEMICONS "알림 영역의 시스템 아이콘 사용자 지정"
    IDS_TB_PRIMARYTBPOS         "화면의 주 작업 표시줄 위치"
    IDS_TB_POSBOTTOM            "하단(기본값)"
    IDS_TB_POSTOP               "상단"
    IDS_TB_POSLEFT              "왼쪽"
    IDS_TB_POSRIGHT             "오른쪽"
    IDS_TB_SECONDARYTBPOS       "화면의 보조 작업 표시줄 위치"
    IDS_TB_EXTRABTN             "추가 버튼을"
    IDS_TB_EXTRABTN_0           "숨김(기본값)"
    IDS_TB_EXTRABTN_2           "Cortana 표시 및 열기"
    IDS_TB_EXTRABTN_1           "위젯 표시 및 열기"
    IDS_TB_SEARCHMODE_W11       "검색 버튼 표시"
    IDS_TB_SEARCHMODE           "검색"
    IDS_TB_SEARCHMODE_0         "숨김"
    IDS_TB_SEARCHMODE_1         "검색 아이콘 표시"
    IDS_TB_SEARCHMODE_2         "검색 상자 표시"
    IDS_TB_CORTANABTN           "Cortana 버튼 표시"
    IDS_TB_TASKVIEWBTN          "작업 보기 버튼 표시"
    IDS_TB_WIDGETSBTN           "위젯 버튼 표시"
    IDS_TB_AUTOHIDETB           "작업 표시줄 자동 숨기기"
    IDS_TB_STARTBTNSTYLE        "시작 버튼 스타일"
    IDS_TB_STARTBTNSTYLE_0      "Windows 10(기본값)"
    IDS_TB_STARTBTNSTYLE_1      "Windows 11"
    IDS_TB_PRIMARYTBALIGN       "주 작업 표시줄 정렬"
    IDS_TB_TBALIGN_0            "화면 끝에(기본값)"
    IDS_TB_TBALIGN_1            "가운데 정렬"
    IDS_TB_TBALIGN_5            "가운데 정렬, 꽉 찼을 때 화면 끝으로"
    IDS_TB_TBALIGN_3            "시작 버튼을 가운데 정렬"
    IDS_TB_TBALIGN_7            "시작 버튼을 가운데 정렬, 꽉 찼을 때 화면 끝으로"
    IDS_TB_SECONDARYTBALIGN     "보조 작업 표시줄 정렬"
    IDS_TB_PRIMARYTBGLOM        "주 작업 표시줄에서 작업 표시줄 아이콘 합치기"
    IDS_TB_GLOM_0_D             "항상 합치기(기본값)"
    IDS_TB_GLOM_0               "항상 합치기"
    IDS_TB_GLOM_1               "작업 표시줄이 꽉 찼을 때 합치기"
    IDS_TB_GLOM_2_D             "합치지 않음(기본값)"
    IDS_TB_GLOM_2               "합치지 않음"
    IDS_TB_SECONDARYTBGLOM      "보조 작업 표시줄에서 작업 표시줄 아이콘 합치기"
    IDS_TB_ICONSIZE             "작업 표시줄 아이콘 크기"
    IDS_TB_ICONSIZE_1           "작게"
    IDS_TB_ICONSIZE_0           "크게(기본값)"

    IDS_TRAY                    "시스템 트레이"

    IDS_TRAY_SKINMENUS          "작업 표시줄 및 트레이 팝업 메뉴 스킨"
    IDS_TRAY_CENTERMENUS        "트레이 아이콘 팝업 메뉴 가운데로"
    IDS_TRAY_FLYOUTMENUS        "트레이 아이콘 팝업 메뉴의 플라이아웃 동작"
    IDS_TRAY_TOUCHKB            "터치 키보드 버튼 표시"
    IDS_TRAY_SHOWSECONDS        "시계에 초 표시"
    IDS_TRAY_CCBTN              "제어 센터 버튼"
    IDS_TRAY_SHOWDESKTOPBTN     "바탕 화면 표시 버튼"
    IDS_TRAY_SHOWDESKTOPBTN_1   "사용(기본값)"
    IDS_TRAY_SHOWDESKTOPBTN_0   "사용 안 함"
    IDS_TRAY_SHOWDESKTOPBTN_2   "숨김"
    IDS_TRAY_SKINICONS          "시스템 트레이 아이콘에 Windows 11 스타일 적용"
    IDS_TRAY_REPLACENETWORK_L1  "네트워크 아이콘을 오른쪽 마우스 클릭했을 때"
    IDS_TRAY_REPLACENETWORK_L2  "'네트워크 및 인터넷 설정 열기'를 선택하면:"
    IDS_TRAY_REPLACENETWORK_0   "[설정] 앱의 네트워크 섹션 열기(기본값)"
    IDS_TRAY_REPLACENETWORK_1   "[제어판]의 네트워크 및 공유 센터 열기"
    IDS_TRAY_REPLACENETWORK_2   "[제어판]의 네트워크 연결 열기"
    IDS_TRAY_SYSICONBEHAVIOR    "시스템 트레이에서 시스템 아이콘을 클릭했을 때:"
    IDS_TRAY_NETWORK            "네트워크"
    IDS_TRAY_NETWORK_6          "제어 센터"
    IDS_TRAY_NETWORK_5          "Windows 11 와이파이 플라이아웃 열기"
    IDS_TRAY_NETWORK_0          "Windows 10 플라이아웃 열기(기본값)"
    IDS_TRAY_NETWORK_2          "Windows 8 플라이아웃 열기"
    IDS_TRAY_NETWORK_1          "[설정] 앱의 네트워크 섹션 열기"
    IDS_TRAY_SOUND              "소리"
    IDS_TRAY_SOUND_1            "Windows 10 플라이아웃(기본값)"
    IDS_TRAY_SOUND_0            "Windows 7 플라이아웃"
    IDS_TRAY_CLOCK              "시계"
    IDS_TRAY_CLOCK_2            "Windows 11 플라이아웃"
    IDS_TRAY_CLOCK_0            "Windows 10 플라이아웃(기본값)"
    IDS_TRAY_CLOCK_1            "Windows 7"
    IDS_TRAY_CLOCK_2_W10        "액션 센터"
    IDS_TRAY_BATTERY            "배터리"
    IDS_TRAY_BATTERY_0          "Windows 10 플라이아웃(기본값)"
    IDS_TRAY_BATTERY_1          "Windows 7"
    IDS_TRAY_LANGSWITCHER       "언어 전환기"
    IDS_TRAY_LANGSWITCHER_0     "Windows 11(기본값)"
    IDS_TRAY_LANGSWITCHER_1_21H2 "Windows 10(""언어 기본 설정"" 링크 있음)"
    IDS_TRAY_LANGSWITCHER_7     "Windows 10"
    IDS_TRAY_LANGSWITCHER_1     "Windows 10(""언어 기본 설정"" 링크 있음)(애니메이션 없음)"
    IDS_TRAY_LANGSWITCHER_4     "Windows 10(애니메이션 없음)"

    IDS_EXP                     "파일 탐색기"

    IDS_EXP_SHEXT_L1            "(**) 표시된 설정이 열기 및 저장 파일 대화 상자에서도 잘 작동하려면,"
    IDS_EXP_SHEXT_L2            "아래 옵션을 사용해 이 유틸리티를 셸 확장으로 등록하세요."
    IDS_EXP_SHEXT_LEARN         "자세히 알아보기"
    IDS_EXP_SHEXT_REGISTER      "셸 확장으로 등록"
    IDS_EXP_DISABLECTXMENU      "Windows 11 상황에 맞는 메뉴 사용 안 함"
    IDS_EXP_LEGACYFTDIALOG      "항상 레거시 파일 전송 대화 상자 사용"
    IDS_EXP_CLASSICDRIVEGROUP   "내 PC에서 고전 드라이브 그룹화 사용"
    IDS_EXP_CTRLINTF            "제어 인터페이스"
    IDS_EXP_CTRLINTF_0_W11      "Windows 11 명령 모음(기본값)"
    IDS_EXP_CTRLINTF_0_W10      "Windows 10 리본(기본값)"
    IDS_EXP_CTRLINTF_1_W11      "Windows 10 리본"
    IDS_EXP_CTRLINTF_2          "Windows 7 명령 모음"
    IDS_EXP_CTRLINTF_3          "Windows 11 명령 모음(탭 없음, 고전 주소 표시줄)"
    IDS_EXP_CTRLINTF_4          "Windows 11 명령 모음(고전 주소 표시줄)"
    IDS_EXP_NEWWINDOWS          "다음 설정은 새로 만든 파일 탐색기 창에 적용됩니다:"
    IDS_EXP_IMMERSIVEMENUS      "Windows 10 상황에 맞는 메뉴를 표시할 때 몰입형 메뉴 사용"
    IDS_EXP_DISABLENAVBAR       "탐색 모음 사용 안 함"
    IDS_EXP_DISABLESEARCHBAR    "최신 검색 표시줄 사용 안 함"
    IDS_EXP_SHRINKADDRESSBAR    "주소 표시줄 높이 축소"
    IDS_EXP_HIDESEARCHBAR       "검색 표시줄 완전히 숨기기"
    IDS_EXP_TITLEBAR            "제목 표시줄"
    IDS_EXP_TITLEBAR_0          "아이콘 및 제목 표시(기본값)"
    IDS_EXP_TITLEBAR_1          "제목은 숨기고, 아이콘 표시"
    IDS_EXP_TITLEBAR_2          "아이콘은 숨기고, 제목 표시"
    IDS_EXP_TITLEBAR_3          "아이콘 및 제목 숨기기"
    IDS_EXP_MICA                "Windows 7 탐색기 창의 탐색 모음에 운모 효과 적용"

    IDS_START                   "시작 메뉴"

    IDS_START_STYLE             "시작 메뉴 스타일"
    IDS_START_STYLE_0           "Windows 11(기본값)"
    IDS_START_STYLE_1           "Windows 10"
    IDS_START_MORE              "[설정] 앱의 더 많은 시작 메뉴 옵션"
    IDS_START_POSITION          "화면 위치"
    IDS_START_POSITION_0        "화면 끝으로"
    IDS_START_POSITION_1        "가운데(기본값)"
    IDS_START_MAXFREQAPPS       "자주 사용하는 앱의 최대 표시 수"
    IDS_START_MAXFREQAPPS_0     "없음"
    IDS_START_MAXFREQAPPS_6     "6(기본값)"
    IDS_START_MAXFREQAPPS_99999 "무제한"
    IDS_START_MONITOROVERRIDE_L1 "다중 디스플레이를 사용할 때 다음 모니터에서 시작을 열려면 다음을 사용:"
    IDS_START_MONITOROVERRIDE_L2 "키보드"
    IDS_START_MONITOROVERRIDE_1 "주 모니터(기본값)"
    IDS_START_MONITOROVERRIDE_0 "커서가 있는 모니터"
    IDS_START_MONITOROVERRIDE_2 "2번 모니터"
    IDS_START_MONITOROVERRIDE_3 "3번 모니터"
    IDS_START_MONITOROVERRIDE_4 "4번 모니터"
    IDS_START_MONITOROVERRIDE_5 "5번 모니터"
    IDS_START_MONITOROVERRIDE_6 "6번 모니터"
    IDS_START_MONITOROVERRIDE_7 "7번 모니터"
    IDS_START_MONITOROVERRIDE_8 "8번 모니터"
    IDS_START_MONITOROVERRIDE_9 "9번 모니터"
    IDS_START_NORECOMMENDED     """권장 사항"" 섹션 사용 안 함"
    IDS_START_MAKEALLAPPSDEFAULT "기본값으로 모든 앱에서 시작 열기"
    IDS_START_SHOWMORETILES     "더 많은 타일"
    IDS_START_CORNERPREF        "모서리 기본 설정"
    IDS_START_CORNERPREF_1      "둥근 모서리, 떠 있는 메뉴"
    IDS_START_CORNERPREF_2      "둥근 모서리, 도킹된 메뉴"
    IDS_START_CORNERPREF_0      "둥글게 안 함"
    IDS_START_DISPLAYMODE       "표시 모드"
    IDS_START_DISPLAYMODE_0     "기본값"
    IDS_START_DISPLAYMODE_1     "시작 메뉴"
    IDS_START_DISPLAYMODE_2     "전체 화면 시작"
    IDS_START_APPLIST           "앱 목록"
    IDS_START_APPLIST_0         "표시"
    IDS_START_APPLIST_3         "숨기기"
    IDS_START_APPLIST_1         "사용 안 함"
    IDS_START_NOTICE            "중요, 반드시 읽어야 할 사항: 이 기능에 관한 공지(온라인)"
    IDS_START_WIN10_NOTICE      "일부 설정은 이전 Windows 10 버전에서 사용하지 못할 수 있습니다."

    IDS_AT                      "창 전환기"

    IDS_AT_STYLE                "창 전환기(Alt+Tab) 스타일"
    IDS_AT_STYLE_0_W11          "Windows 11(기본값)"
    IDS_AT_STYLE_0_W10          "Windows 10(기본값)"
    IDS_AT_STYLE_3              "Windows 10"
    IDS_AT_STYLE_1              "Windows NT"
    IDS_AT_STYLE_2              "간단한 창 전환기"
    IDS_AT_SWS_INCLUDEWALLPAPER "상호 작용 목록의 마지막 창으로 바탕 화면을 표시"
    IDS_AT_SWS_PRIMARYONLY      "항상 주 모니터에 전환기 표시"
    IDS_AT_SWS_PERMONITOR       "커서가 있는 모니터의 창만 표시"
    IDS_AT_SWS_GROUPWINDOWS     "같은 앱의 창 그룹화"
    IDS_AT_SWS_NOPERAPP         "개별적인 앱 상호 작용 목록( Alt + %c ) 사용 안 함"
    IDS_AT_SWS_THEME            "테마"
    IDS_AT_SWS_THEME_0          "기본값"
    IDS_AT_SWS_THEME_1          "아크릭"
    IDS_AT_SWS_THEME_2          "운모(항상 불투명)"
    IDS_AT_SWS_OPACITY          "불투명도"
    IDS_AT_SWS_OPACITY_100      "불투명"
    IDS_AT_SWS_OPACITY_95       "95 %(기본값)"
    IDS_AT_SWS_COLORSCHEME      "색 구성표"
    IDS_AT_SWS_COLORSCHEME_0    "시스템 설정 따라가기(기본값)"
    IDS_AT_SWS_COLORSCHEME_1    "라이트"
    IDS_AT_SWS_COLORSCHEME_2    "다크"
    IDS_AT_SWS_CORNERPREF       "모서리 기본 설정"
    IDS_AT_SWS_CORNERPREF_2     "둥긂(기본값)"
    IDS_AT_SWS_CORNERPREF_3     "약간 둥긂"
    IDS_AT_SWS_CORNERPREF_1     "둥글게 안 함"
    IDS_AT_SWS_ROWHEIGHT        "행 높이"
    IDS_AT_SWS_ROWHEIGHT_230    "230 pt (기본값)"
    IDS_AT_SWS_MAXWIDTH         "최대 너비(화면 너비의 백분율)"
    IDS_AT_SWS_MAXWIDTH_100     "100 % (권장하지 않음)"
    IDS_AT_SWS_MAXWIDTH_80      "80 % (기본값)"
    IDS_AT_SWS_MAXHEIGHT        "최대 높이(화면 너비의 백분율)"
    IDS_AT_SWS_MAXHEIGHT_100    "100 % (권장하지 않음)"
    IDS_AT_SWS_MAXHEIGHT_80     "80 % (기본값)"
    IDS_AT_SWS_PADDING          "창 여백"
    IDS_AT_SWS_PADDING_20       "20 pt (기본값)"
    IDS_AT_SWS_PADDING_0        "없음"
    IDS_AT_SWS_SHOWDELAY        "표시 지연"
    IDS_AT_SWS_SHOWDELAY_0      "없음"
    IDS_AT_SWS_SHOWDELAY_25     "25 ms"
    IDS_AT_SWS_SHOWDELAY_50     "50 ms"
    IDS_AT_SWS_SHOWDELAY_75     "75 ms"
    IDS_AT_SWS_SHOWDELAY_100    "100 ms (기본값)"
    IDS_AT_SWS_SHOWDELAY_125    "125 ms"
    IDS_AT_SWS_SHOWDELAY_150    "150 ms"
    IDS_AT_SWS_SHOWDELAY_200    "200 ms"
    IDS_AT_SWS_SHOWDELAY_300    "300 ms"
    IDS_AT_SWS_SHOWDELAY_400    "400 ms"
    IDS_AT_SWS_SHOWDELAY_500    "500 ms"
    IDS_AT_SWS_SCROLLWHEEL      "스크롤 휠을 사용해서 선택 영역 바꾸기"
    IDS_AT_SWS_SCROLLWHEEL_0    "안 함(기본값)"
    IDS_AT_SWS_SCROLLWHEEL_1    "커서가 전환기 위에 있을 때"
    IDS_AT_SWS_SCROLLWHEEL_2    "항상"
    IDS_AT_SWS_LEARN            "간단한 창 전환기에 대해 자세히 알아보기"

    IDS_WEATHER                 "날씨"

    IDS_WEATHER_SHOW            "작업 표시줄에 날씨 표시"
    IDS_WEATHER_LOC             "위치"
    IDS_WEATHER_LOC_PROMPT      "도시 또는 우편번호 검색, 프로그램이 ""/*입력한 곳*/의 날씨""를 찾아봅니다. 기본값(현재 위치)을 사용하려면 빈 칸으로 두세요."
    IDS_WEATHER_LOC_DEFAULT     "현재 위치(기본값)"
    IDS_WEATHER_LAYOUT          "레이아웃"
    IDS_WEATHER_LAYOUT_0        "아이콘 및 설명(기본값)"
    IDS_WEATHER_LAYOUT_3        "아이콘 및 온도"
    IDS_WEATHER_LAYOUT_1        "아이콘만"
    IDS_WEATHER_LAYOUT_4        "온도만"
    IDS_WEATHER_LAYOUT_5        "온도 및 설명"
    IDS_WEATHER_SIZE            "위젯 크기"
    IDS_WEATHER_SIZE_0          "자동(콘텐츠에 맞춤)(기본값)"
    IDS_WEATHER_SIZE_2          "임계값이 있는 자동(콘텐츠에 맞춤)"
    IDS_WEATHER_SIZE_1          "고정됨"
    IDS_WEATHER_POSITION        "위젯 위치"
    IDS_WEATHER_POSITION_0      "오른쪽 / 아래(기본값)"
    IDS_WEATHER_POSITION_1      "왼쪽 / 상단"
    IDS_WEATHER_UPDATEFREQ      "업데이트 주기"
    IDS_WEATHER_UPDATEFREQ_60   "매분마다"
    IDS_WEATHER_UPDATEFREQ_300  "5분마다"
    IDS_WEATHER_UPDATEFREQ_900  "15분마다"
    IDS_WEATHER_UPDATEFREQ_1200 "20분마다(기본값)"
    IDS_WEATHER_UPDATEFREQ_1800 "30분마다"
    IDS_WEATHER_UPDATEFREQ_3600 "매시간마다"
    IDS_WEATHER_UPDATEFREQ_7200 "2시간마다"
    IDS_WEATHER_TEMPUNIT        "온도 단위"
    IDS_WEATHER_TEMPUNIT_0      "섭씨(기본값)"
    IDS_WEATHER_TEMPUNIT_1      "화씨"
    IDS_WEATHER_LANG            "언어"
    IDS_WEATHER_LANG_PROMPT     "표시하고 싶은 날씨 데이터의 언어의 단축 코드를 입력하세요. 예를 들어 ""en"", ""ro"", ""de"", ""fr"" 등을 시도해보세요. 기본값(Windows OS의 언어)은 빈 칸으로 두세요."
    IDS_WEATHER_LANG_DEFAULT    "시스템 언어(기본값)"
    IDS_WEATHER_COLORSCHEME     "색 구성표"
    IDS_WEATHER_COLORSCHEME_0   "시스템 설정 따라가기(기본값)"
    IDS_WEATHER_COLORSCHEME_1   "라이트"
    IDS_WEATHER_COLORSCHEME_2   "다크"
    IDS_WEATHER_CORNERPREF      "모서리 기본 설정"
    IDS_WEATHER_CORNERPREF_2    "둥긂(기본값)"
    IDS_WEATHER_CORNERPREF_3    "약간 둥긂"
    IDS_WEATHER_CORNERPREF_1    "둥글게 안 함"
    IDS_WEATHER_ICONPACK        "아이콘 팩"
    IDS_WEATHER_ICONPACK_0      "Microsoft(기본값)"
    IDS_WEATHER_ICONPACK_1      "Google"
    IDS_WEATHER_CONTENTSMODE    "위젯 콘텐츠 표시"
    IDS_WEATHER_CONTENTSMODE_0  "한 줄에"
    IDS_WEATHER_CONTENTSMODE_1  "가능하다면 2줄에"
    IDS_WEATHER_ZOOM            "확대"
    IDS_WEATHER_ZOOM_100        "100 % (기본값)"
    IDS_WEATHER_LEARN           "날씨 작업 표시줄 위젯에 대해 자세히 알아보기"
    IDS_WEATHER_LASTUPDATE      "마지막 업데이트: %s, %s."
    IDS_WEATHER_UPDATE          "지금 날씨 업데이트"
    IDS_WEATHER_CLEAR           "날씨 위젯 지역 데이터 지우기"
    IDS_WEATHER_CLEAR_PROMPT    "날씨 위젯의 지역 데이터를 영구적으로 지우시겠어요?\n\n이 작업은 내부 구성 요소가 기본값 상태로 초기화되지만 기본 설정은 보존됩니다. 위젯이 데이터를 제대로 불러오지 않거나 레이아웃 문제 등이 있는 경우 해결될 수 있습니다."
    IDS_WEATHER_CLEAR_WAIT      "잠시만 기다려주세요…"
    IDS_WEATHER_CLEAR_SUCCESS   "날씨 위젯 데이터를 성공적으로 지웠습니다."
    IDS_WEATHER_CLEAR_FAILED    "데이터를 지우는 동안 오류가 발생했습니다."

    IDS_SP                      "추천(Sportlight)"

    IDS_SP_HIDEICON             """이 그림에 대해 자세히 알아보기 / 이 사진에 대한 자세한 정보"" 아이콘 숨기기"
    IDS_SP_DESKTOPMENU          "바탕 화면 상황에 맞는 메뉴 항목"
    IDS_SP_DESKTOPMENU_0        "항목 없음"
    IDS_SP_DESKTOPMENU_32       "다음 그림으로 전환"
    IDS_SP_DESKTOPMENU_48       "자세히 알아보기 및 다음 그림으로 전환"
    IDS_SP_DESKTOPMENU_288      "정보 및 다음 그림으로 전환"
    IDS_SP_DESKTOPMENU_800      "정보, 저작권, 및 다음 그림으로 전환"
    IDS_SP_DESKTOPMENU_304      "정보, 자세히 알아보기 및 다음 그림으로 전환"
    IDS_SP_DESKTOPMENU_816      "정보, 저작권, 자세히 알아보기, 및 다음 그림으로 전환"
    IDS_SP_DESKTOPMENU_1008     "모든 항목"
    IDS_SP_UPDATEFREQ           "업데이트 주기"
    IDS_SP_UPDATEFREQ_0         "Windows가 최상의 스케줄을 결정하도록 두기(기본값)"
    IDS_SP_UPDATEFREQ_60        "매분마다"
    IDS_SP_UPDATEFREQ_300       "5분마다"
    IDS_SP_UPDATEFREQ_900       "15분마다"
    IDS_SP_UPDATEFREQ_1200      "20분마다"
    IDS_SP_UPDATEFREQ_1800      "30분마다"
    IDS_SP_UPDATEFREQ_3600      "매시간마다"
    IDS_SP_UPDATEFREQ_7200      "2시간마다"
    IDS_SP_UPDATEFREQ_21600     "6시간마다"
    IDS_SP_UPDATEFREQ_43200     "12시간마다"
    IDS_SP_UPDATEFREQ_86400     "매일마다"
    IDS_SP_MOREOPTIONS          "추가 옵션 표시"

    IDS_OTHER                   "기타"

    IDS_OTHER_REMEMBERLAST      "이 창에서 마지막으로 사용한 섹션 기억"
    IDS_OTHER_CLOCKFLYOUT       "Win+c를 눌렀을 때 Microsoft Teams 대신 시계 플라이아웃 열기"
    IDS_OTHER_TOOLBARSEPARATORS "작업 표시줄 도구 모음 사이에 구분선 표시"
    IDS_OTHER_WINXPROPERTIES    "Win+X 메뉴(빠른 연결)에 프로그램 설정 바로 가기 추가"
    IDS_OTHER_DONTUSEPOWERSHELL "Win+X 메뉴(빠른 연결)에 PowerShell 대신 명령 프롬프트 표시"
    IDS_OTHER_WINXACCELERATOR   "Win+X 메뉴(빠른 연결)의 프로그램 설정 항목에서 바로 가기 키 제거"
    IDS_OTHER_DISABLEOFFICE     "Office 단축키 사용 안 함(Ctrl+Alt+Shift+Windows 키 조합)"
    IDS_OTHER_DISABLEWINF       "Win+F(피드백 허브) 단축키 사용 안 함"
    IDS_OTHER_DISABLERC         "응용 프로그램 창의 둥근 모서리 사용 안 함"
    IDS_OTHER_DISABLEAEROSNAP   "창을 끌 때(Aero Snap) 사분면 사용 안 함"
    IDS_OTHER_SNAPASSISTSTYLE   "끌기 도우미(Snap Assist) 스타일"
    IDS_OTHER_SNAPASSISTSTYLE_0 "Windows 11(기본값)"
    IDS_OTHER_SNAPASSISTSTYLE_3 "Windows 10"
    IDS_OTHER_PWRBTNACTION      "바탕 화면에서 Alt+F4 대화 상자의 기본값 동작"
    IDS_OTHER_PWRBTNACTION_256  "사용자 전환"
    IDS_OTHER_PWRBTNACTION_1    "로그아웃"
    IDS_OTHER_PWRBTNACTION_16   "절전"
    IDS_OTHER_PWRBTNACTION_64   "최대 절전 모드"
    IDS_OTHER_PWRBTNACTION_2    "시스템 종료(기본값)"
    IDS_OTHER_PWRBTNACTION_4    "다시 시작"
    IDS_OTHER_NOREDIRECT        "다음의 [제어판] 링크는 [설정] 앱으로 리디렉션하지 않음:"
    IDS_OTHER_NOREDIRECT_SYSTEM "시스템 / 정보 페이지"
    IDS_OTHER_NOREDIRECT_PROGRAMS "프로그램 및 기능"
    IDS_OTHER_NOREDIRECT_DATETIME "날짜 및 시간 설정"
    IDS_OTHER_NOREDIRECT_TRAYICONS "알림 아이콘 사용자 지정"

    IDS_UPDATES                 "업데이트"

    IDS_UPDATES_POLICY          "[파일 탐색기]를 시작했을 때"
    IDS_UPDATES_POLICY_1        "사용 가능한 업데이트에 대해 알림(기본값)"
    IDS_UPDATES_POLICY_0        "사용 가능한 업데이트 설치를 표시"
    IDS_UPDATES_POLICY_2        "업데이트를 확인하지 않음"
    IDS_UPDATES_PREFER_STAGING  "가능할 경우 프리릴리스 버전 받기(권장하지 않음)"
    IDS_UPDATES_DOWNGRADES      "서버의 최신 버전이 오래됐더라도 제안받기(권장하지 않음)"
    IDS_UPDATES_UPDATESERVERS   "업데이트 서버:"
    IDS_UPDATES_RELEASES        "릴리스"
    IDS_UPDATES_RELEASES_PROMPT "GitHub의 릴리스 API를 준수하는 리소스를 제공하는 URL을 입력하세요. 자신만의 업데이트 서버를 구성하는 방법을 알아보려면 위키를 참조해주세요."
    IDS_UPDATES_STAGING         "프리릴리스"
    IDS_UPDATES_STAGING_PROMPT  "GitHub의 프리릴리스 API를 준수하는 리소스를 제공하는 URL을 입력하세요. 자신만의 업데이트 서버를 구성하는 방법을 알아보려면 위키를 참조하세요."
    IDS_UPDATES_CHECK           "업데이트 확인"
    IDS_UPDATES_INSTALL         "프로그램 업데이트 및 [파일 탐색기] 다시 시작"
    IDS_UPDATES_CHANGES         "최신 릴리스의 변경 내용에 대해 읽어보세요"
    IDS_UPDATES_LEARN           "자세히 알아보기"

    IDS_ADV                     "고급"

    IDS_ADV_DISCLAIMER          "이러한 설정은 해당 설정에 대한 문서를 읽은 후에만 변경하세요."
    IDS_ADV_LEARN               "자세히 알아보기"
    IDS_ADV_CONSOLE             "콘솔 사용"
    IDS_ADV_MEMCHECK            "메모리 누수 덤프"
    IDS_ADV_AUTOHIDE            "작업 표시줄 두 번 클릭으로 자동 숨기기 켜기/끄기(잠겨 있을 때만 작동함)"
    IDS_ADV_PAINTDESKTOPVERSION "바탕 화면에 Windows 빌드 정보 표시"
    IDS_ADV_CLASSICTHEME        "고전 테마를 사용하여 올바른 렌더링을 얻기 위한 고급 완화 사용"
    IDS_ADV_SYSLISTVIEW32       "탐색기 보기의 SysListView32 사용"
    IDS_ADV_NOPROPERTIES        "작업 표시줄 상황에 맞는 메뉴 바꾸지 않기(예: ""속성"" 항목을 표시하지 않음)"
    IDS_ADV_SYMBOLS             "기호 다운로드 사용"
    IDS_ADV_PINNEDITEMS         "고정된 항목이 빠른 실행 역할을 함(활성 앱 그룹화 안 함)"
    IDS_ADV_REMOVEEXTRAGAP      "작업 표시줄이 버튼 레이블을 표시할 때 고정된 항목 주위의 추가 간격 제거"
    IDS_ADV_DELAY               "로그온 시 보충 지연"
    IDS_ADV_DELAY_0             "없음(기본값)"
    IDS_ADV_DELAY_300           "300 ms"
    IDS_ADV_DELAY_600           "600 ms"
    IDS_ADV_DELAY_1000          "1초"
    IDS_ADV_DELAY_1500          "1.5초"
    IDS_ADV_DELAY_2000          "2초"
    IDS_ADV_DELAY_3000          "3초"
    IDS_ADV_DELAY_4000          "4초"
    IDS_ADV_DELAY_5000          "5초"
    IDS_ADV_DELAY_6000          "6초"
    IDS_ADV_DELAY_8000          "8초"
    IDS_ADV_DELAY_10000         "10초"
    IDS_ADV_XAMLSOUNDS          "탐색기의 XAML 보기에서 UI 효과음 사용"

    IDS_ABOUT                   "정보"

    IDS_ABOUT_VERSION           "버전 %d.%d.%d.%d%s"
    IDS_ABOUT_PROJECT           "이 프로젝트는 Windows의 작업 환경을 향상시키는 것을 목표로 합니다."
    IDS_ABOUT_AUTHOR            "Valentin-Gabriel Radu가 자랑스럽게 설계했습니다."
    IDS_ABOUT_OS                "%s에서 실행 중, OS 빌드 %d.%d."
    IDS_ABOUT_GITHUB            "GitHub 프로젝트 방문"
    IDS_ABOUT_WEBSITE           "웹사이트 방문"
    IDS_ABOUT_DONATE            "기부"
    IDS_ABOUT_FAQ               "자주 묻는 질문"
    IDS_ABOUT_SETTINGS          "이러한 설정 관리에 대해 자세히 알아보기"
    IDS_ABOUT_IMPORT            "설정 가져오기"
    IDS_ABOUT_EXPORT            "현재 설정 내보내기"
    IDS_ABOUT_EXPORT_SUCCESS    "설정을 성공적으로 내보냈습니다."
    IDS_ABOUT_RESET             "기본값 설정 복원"

    IDS_FOOTER_RESTART          "[파일 탐색기] 다시 시작"
END
