#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
BEGIN
    IDS_UPDATES_CHECKING_T      "正在檢查更新…"
    IDS_UPDATES_AVAILABLE_T     "可以更新至 %d.%d.%d.%d 版本"
    IDS_UPDATES_AVAILABLE_T_U   "發現新的版本可用"
    IDS_UPDATES_AVAILABLE_B     "右鍵按一下工作列，開啟「內容」視窗，在「更新」頁面中選擇更新。點選以瞭解更多訊息。"
    IDS_UPDATES_ISLATEST_T      "沒有可用的更新"
    IDS_UPDATES_ISLATEST_B      "稍後再回來看看。"
    IDS_UPDATES_CHECKFAILED_T   "無法檢查更新"
    IDS_UPDATES_CHECKFAILED_B   "請確認網路正常，能連線至更新伺服器。"
    IDS_UPDATES_DOWNLOADING_T   "正在下載和安裝更新…"
    IDS_UPDATES_SUCCESS_T       "更新成功"
    IDS_UPDATES_DLFAILED_T      "更新失敗"
    IDS_UPDATES_DLFAILED_B      "發生網路錯誤或安裝錯誤。"
    IDS_UPDATES_INSTALLEDVER    "目前版本：%d.%d.%d.%d"
    IDS_UPDATES_PROMPT          "是否安裝 ExplorerPatcher 更新？\n\n下載網址：\n%s"

    IDS_SYM_DL_T                "作業系統版本 %s 的符號檔案正在下載中…"
    IDS_SYM_DL_B                "需要等待幾分鐘。在完成之前，ExplorerPatcher 的部分功能將暫時受限。點選以瞭解有關符號檔案的更多訊息。"
    IDS_SYM_SUCCESS_T           "作業系統版本 %s 的符號檔案下載完成"
    IDS_SYM_SUCCESS_B           "重新啟動檔案總管以啟用完整功能。"
    IDS_SYM_FAILEDSOME_T        "作業系統版本 %s 的符號檔案部分下載完成"
    IDS_SYM_FAILEDSOME_B        "某些符號檔案缺失。可能因為是目前系統版本太新，或網路連線不穩定。"
    IDS_SYM_FAILEDALL_T         "作業系統版本 %s 的符號檔案下載失敗"
    IDS_SYM_FAILEDALL_B         "找不到符號檔案。可能是因為目前系統版本太新、網路不穩定或您已離線。"

    IDS_CRASH_TITLE             "糟糕，檔案總管當機了:("
    IDS_CRASH_BODY              "檔案管理器似乎已經 %1$s在啟動的 %2$d 秒內意外關閉。這可能是 ExplorerPatcher 造成的，也許是因為 Windows 系統上的某些最新變更導致了相容性問題。\n檢視下列解決方案：\n• 如果已經有更新可用的話，請 <A HREF=""%3$s"">更新 ExplorerPatcher 並重新啟動檔案總管</A>。\n• 在 GitHub 上，您可以 <A HREF=""%4$s"">檢視更新紀錄</A>、<A HREF=""%5$s"">檢查目前開發狀態</A>、<A HREF=""%6$s"">看看討論區</A>、<A HREF=""%7$s"">瀏覽最新的問題反應</A>。\n• 如果您懷疑這並不是 ExplorerPatcher 所導致，請嘗試移除任何最近安裝的殼層擴充等類似軟體來解決問題。\n• 如果還沒有新版本更新可用，您可以先 <A HREF=""%8$s"">移除 ExplorerPatcher</A>，然後等新版本修復了再安裝。移除後，目前的設定都會保留。\n\n對於造成的不便，我們感到抱歉。我們正在努力更新維護這個軟體。\n\n在本次檔案總管的啟動中，ExplorerPatcher 已經暫時關閉，以便您採取必要的操作以修復此問題。"
    IDS_CRASH_ONCE              "1 次"
    IDS_CRASH_MULTIPLE          "%d 次"
    IDS_CRASH_DISMISS           "忽略"

    IDS_TB                      "工作列"

    IDS_TB_STYLE                "工作列樣式"
    IDS_TB_STYLE_0              "Windows 11 (預設)"
    IDS_TB_STYLE_1              "Windows 10"
    IDS_TB_MORE                 "「設定」中的工作列"
    IDS_TB_CUSTOMIZETRAYICONS   "管理軟體通知區域圖示"
    IDS_TB_CUSTOMIZESYSTEMICONS "管理系統通知區域圖示"
    IDS_TB_PRIMARYTBPOS         "主螢幕工作列位置"
    IDS_TB_POSBOTTOM            "底部 (預設)"
    IDS_TB_POSTOP               "頂部"
    IDS_TB_POSLEFT              "左側"
    IDS_TB_POSRIGHT             "右側"
    IDS_TB_SECONDARYTBPOS       "副螢幕工作列位置"
    IDS_TB_EXTRABTN             "Cortana 按鈕"
    IDS_TB_EXTRABTN_0           "隱藏 (預設)"
    IDS_TB_EXTRABTN_2           "顯示並開啟 Cortana"
    IDS_TB_EXTRABTN_1           "顯示並開啟小工具"
    IDS_TB_SEARCHMODE_W11       "顯示搜尋按鈕"
    IDS_TB_SEARCHMODE           "搜尋按鈕"
    IDS_TB_SEARCHMODE_0         "隱藏"
    IDS_TB_SEARCHMODE_1         "僅搜尋圖示"
    IDS_TB_SEARCHMODE_2         "搜尋方塊"
    IDS_TB_CORTANABTN           "顯示 Cortana 按鈕"
    IDS_TB_TASKVIEWBTN          "顯示工作檢視按鈕"
    IDS_TB_WIDGETSBTN           "顯示小工具按鈕"
    IDS_TB_AUTOHIDETB           "自動隱藏工作列"
    IDS_TB_STARTBTNSTYLE        "開始按鈕樣式"
    IDS_TB_STARTBTNSTYLE_0      "Windows 10 (預設)"
    IDS_TB_STARTBTNSTYLE_1      "Windows 11"
    IDS_TB_PRIMARYTBALIGN       "主螢幕工作列對齊"
    IDS_TB_TBALIGN_0            "螢幕邊緣 (預設)"
    IDS_TB_TBALIGN_1            "置中"
    IDS_TB_TBALIGN_5            "置中，佔滿時擴充至邊緣"
    IDS_TB_TBALIGN_3            "置中，有開始按鈕"
    IDS_TB_TBALIGN_7            "置中，有開始按鈕，佔滿時擴充至邊緣"
    IDS_TB_SECONDARYTBALIGN     "副螢幕工作列對齊"
    IDS_TB_PRIMARYTBGLOM        "主螢幕工作列合併圖示"
    IDS_TB_GLOM_0_D             "總是合併 (預設)"
    IDS_TB_GLOM_0               "總是合併"
    IDS_TB_GLOM_1               "當工作列被佔滿時合併"
    IDS_TB_GLOM_2_D             "永不合併 (預設)"
    IDS_TB_GLOM_2               "永不合併"
    IDS_TB_SECONDARYTBGLOM      "副螢幕工作列合併圖示"
    IDS_TB_ICONSIZE             "工作列圖示大小"
    IDS_TB_ICONSIZE_1           "小"
    IDS_TB_ICONSIZE_0           "大 (預設)"

    IDS_TRAY                    "系統通知區域"

    IDS_TRAY_SKINMENUS          "啟用工作列與通知區域外觀"
    IDS_TRAY_CENTERMENUS        "通知區域圖示置中對齊"
    IDS_TRAY_FLYOUTMENUS        "通知區域跳出動畫"
    IDS_TRAY_TOUCHKB            "顯示觸控式鍵盤按鈕"
    IDS_TRAY_SHOWSECONDS        "時鐘顯示秒數"
    IDS_TRAY_CCBTN              "控制中心按鈕"
    IDS_TRAY_SHOWDESKTOPBTN     "「顯示桌面」按鈕"
    IDS_TRAY_SHOWDESKTOPBTN_1   "啟用 (預設)"
    IDS_TRAY_SHOWDESKTOPBTN_0   "停用"
    IDS_TRAY_SHOWDESKTOPBTN_2   "隱藏"
    IDS_TRAY_SKINICONS          "使用 Windows 11 樣式的系統通知區域圖示"
    IDS_TRAY_REPLACENETWORK_L1  "右鍵網路圖示開啟網路和網際網路設定時，"
    IDS_TRAY_REPLACENETWORK_L2  "開啟:"
    IDS_TRAY_REPLACENETWORK_0   "「網路和網際網路設定」 (預設)"
    IDS_TRAY_REPLACENETWORK_1   "控制台的「網路和共用中心」"
    IDS_TRAY_REPLACENETWORK_2   "控制台的「網路連線」"
    IDS_TRAY_SYSICONBEHAVIOR    "系統通知區域按鈕控制項目 :"
    IDS_TRAY_NETWORK            "網路"
    IDS_TRAY_NETWORK_6          "Windows 11 控制中心"
    IDS_TRAY_NETWORK_5          "Windows 11 WiFi"
    IDS_TRAY_NETWORK_0          "Windows 10 網路 (預設)"
    IDS_TRAY_NETWORK_2          "Windows 8 網路"
    IDS_TRAY_NETWORK_1          "設定中的「網路和網際網路」"
    IDS_TRAY_SOUND              "音訊"
    IDS_TRAY_SOUND_1            "Windows 10 音訊控制 (預設)"
    IDS_TRAY_SOUND_0            "Windows 7 音訊控制"
    IDS_TRAY_CLOCK              "日期與時間"
    IDS_TRAY_CLOCK_2            "Windows 11 日期與時間"
    IDS_TRAY_CLOCK_0            "Windows 10 日期與時間 (預設)"
    IDS_TRAY_CLOCK_1            "Windows 7 日期與時間"
    IDS_TRAY_CLOCK_2_W10        "重要訊息中心"
    IDS_TRAY_BATTERY            "電池"
    IDS_TRAY_BATTERY_0          "Windows 10 電池 (預設)"
    IDS_TRAY_BATTERY_1          "Windows 7 電池"
    IDS_TRAY_LANGSWITCHER       "語言切換"
    IDS_TRAY_LANGSWITCHER_0     "Windows 11 (預設)"
    IDS_TRAY_LANGSWITCHER_1_21H2 "Windows 10 (附有「語言設定」連結)"
    IDS_TRAY_LANGSWITCHER_7     "Windows 10"
    IDS_TRAY_LANGSWITCHER_1     "Windows 10 (附有「語言設定」連結) (停用動畫)"
    IDS_TRAY_LANGSWITCHER_4     "Windows 10 (停用動畫)"

    IDS_EXP                     "檔案總管"

    IDS_EXP_SHEXT_L1            "要令標示 ** 的設定於開啟、儲存對話方塊也生效，"
    IDS_EXP_SHEXT_L2            "請將本工具註冊為殼層擴充功能。"
    IDS_EXP_SHEXT_LEARN         "更多資訊"
    IDS_EXP_SHEXT_REGISTER      "註冊為殼層擴充功能"
    IDS_EXP_DISABLECTXMENU      "停用 Windows 11 右鍵選單"
    IDS_EXP_LEGACYFTDIALOG      "使用舊版檔案傳輸對話方塊"
    IDS_EXP_CLASSICDRIVEGROUP   "在「本機」中使用舊版磁碟分組"
    IDS_EXP_CTRLINTF            "檔案總管上方指令列"
    IDS_EXP_CTRLINTF_0_W11      "Windows 11 指令列 (預設)"
    IDS_EXP_CTRLINTF_0_W10      "Windows 10 功能區 (預設)"
    IDS_EXP_CTRLINTF_1_W11      "Windows 10 功能區"
    IDS_EXP_CTRLINTF_2          "Windows 7 指令列"
    IDS_EXP_CTRLINTF_3          "Windows 11 指令列 (無分頁，舊版網址列)"
    IDS_EXP_CTRLINTF_4          "Windows 11 指令列 (舊版網址列)"
    IDS_EXP_NEWWINDOWS          "下列設定對新開啟的檔案總管視窗生效 :"
    IDS_EXP_IMMERSIVEMENUS      "顯示 Windows 10 右鍵選單時使用沉浸式選單"
    IDS_EXP_DISABLENAVBAR       "停用導覽列"
    IDS_EXP_DISABLESEARCHBAR    "停用現代搜尋欄樣式"
    IDS_EXP_SHRINKADDRESSBAR    "縮小網址列高度"
    IDS_EXP_HIDESEARCHBAR       "完全隱藏搜尋欄"
    IDS_EXP_TITLEBAR            "標題列"
    IDS_EXP_TITLEBAR_0          "顯示圖示和標題 (預設)"
    IDS_EXP_TITLEBAR_1          "顯示圖示"
    IDS_EXP_TITLEBAR_2          "顯示標題"
    IDS_EXP_TITLEBAR_3          "隱藏圖示和標題"
    IDS_EXP_MICA                "為 Windows 7 導覽列新增 Mica 材質"

    IDS_START                   "開始功能表"

    IDS_START_STYLE             "開始功能表樣式"
    IDS_START_STYLE_0           "Windows 11 (預設)"
    IDS_START_STYLE_1           "Windows 10"
    IDS_START_MORE              "「設定」中的更多開始功能表設定"
    IDS_START_POSITION          "顯示位置"
    IDS_START_POSITION_0        "螢幕邊緣"
    IDS_START_POSITION_1        "置中 (預設)"
    IDS_START_MAXFREQAPPS       "常用應用程式的最大數量"
    IDS_START_MAXFREQAPPS_0     "無"
    IDS_START_MAXFREQAPPS_6     "6 (預設)"
    IDS_START_MAXFREQAPPS_99999 "無限制"
    IDS_START_MONITOROVERRIDE_L1 "使用多螢幕，按 Windows 鍵開啟開始功能表時，"
    IDS_START_MONITOROVERRIDE_L2 "開啟的位置"
    IDS_START_MONITOROVERRIDE_1 "主顯示器 (預設)"
    IDS_START_MONITOROVERRIDE_0 "滑鼠游標所在顯示器"
    IDS_START_MONITOROVERRIDE_2 "顯示器 #2"
    IDS_START_MONITOROVERRIDE_3 "顯示器 #3"
    IDS_START_MONITOROVERRIDE_4 "顯示器 #4"
    IDS_START_MONITOROVERRIDE_5 "顯示器 #5"
    IDS_START_MONITOROVERRIDE_6 "顯示器 #6"
    IDS_START_MONITOROVERRIDE_7 "顯示器 #7"
    IDS_START_MONITOROVERRIDE_8 "顯示器 #8"
    IDS_START_MONITOROVERRIDE_9 "顯示器 #9"
    IDS_START_NORECOMMENDED     "停用「推薦的項目」"
    IDS_START_MAKEALLAPPSDEFAULT "自動開啟「所有應用程式」"
    IDS_START_SHOWMORETILES     "顯示更多磁貼"
    IDS_START_CORNERPREF        "邊角"
    IDS_START_CORNERPREF_1      "圓角，懸浮選單"
    IDS_START_CORNERPREF_2      "圓角，停靠選單"
    IDS_START_CORNERPREF_0      "直角"
    IDS_START_DISPLAYMODE       "顯示模式"
    IDS_START_DISPLAYMODE_0     "預設"
    IDS_START_DISPLAYMODE_1     "開始功能表"
    IDS_START_DISPLAYMODE_2     "全螢幕開始功能表"
    IDS_START_APPLIST           "應用程式列表"
    IDS_START_APPLIST_0         "顯示"
    IDS_START_APPLIST_3         "隱藏"
    IDS_START_APPLIST_1         "停用"
    IDS_START_NOTICE            "注意，請點選閱讀磁貼功能注意事項 (網路頁面，僅英文)"
    IDS_START_WIN10_NOTICE      "部分設定無法在版本較舊的 Windows 10 中使用"

    IDS_AT                      "視窗切換器"

    IDS_AT_STYLE                "視窗切換器 (Alt+Tab) 樣式"
    IDS_AT_STYLE_0_W11          "Windows 11 (預設)"
    IDS_AT_STYLE_0_W10          "Windows 10 (預設)"
    IDS_AT_STYLE_3              "Windows 10"
    IDS_AT_STYLE_1              "Windows NT"
    IDS_AT_STYLE_2              "簡易視窗切換器"
    IDS_AT_SWS_INCLUDEWALLPAPER "將「桌面」視窗新增為列表最後一個"
    IDS_AT_SWS_PRIMARYONLY      "永遠顯示在主螢幕"
    IDS_AT_SWS_PERMONITOR       "僅顯示目前顯示器的視窗"
    IDS_AT_SWS_GROUPWINDOWS     "將同一個應用程式的視窗分為同一組"
    IDS_AT_SWS_NOPERAPP         "停用單獨應用程式的視窗列表(Alt+%c)"
    IDS_AT_SWS_THEME            "材質"
    IDS_AT_SWS_THEME_0          "預設"
    IDS_AT_SWS_THEME_1          "壓克力"
    IDS_AT_SWS_THEME_2          "Mica (始終不透明)"
    IDS_AT_SWS_OPACITY          "不透明度"
    IDS_AT_SWS_OPACITY_100      "完全不透明"
    IDS_AT_SWS_OPACITY_95       "95 % (預設)"
    IDS_AT_SWS_COLORSCHEME      "顏色模式"
    IDS_AT_SWS_COLORSCHEME_0    "跟隨系統設定 (預設)"
    IDS_AT_SWS_COLORSCHEME_1    "淺色"
    IDS_AT_SWS_COLORSCHEME_2    "深色"
    IDS_AT_SWS_CORNERPREF       "邊角"
    IDS_AT_SWS_CORNERPREF_2     "圓角 (預設)"
    IDS_AT_SWS_CORNERPREF_3     "小圓角"
    IDS_AT_SWS_CORNERPREF_1     "直角"
    IDS_AT_SWS_ROWHEIGHT        "行高"
    IDS_AT_SWS_ROWHEIGHT_230    "230 pt (預設)"
    IDS_AT_SWS_MAXWIDTH         "最大寬度 (螢幕寬度百分比)"
    IDS_AT_SWS_MAXWIDTH_100     "100 % (不推薦)"
    IDS_AT_SWS_MAXWIDTH_80      "80 % (預設)"
    IDS_AT_SWS_MAXHEIGHT        "最大高度 (螢幕高度百分比)"
    IDS_AT_SWS_MAXHEIGHT_100    "100 % (不推薦)"
    IDS_AT_SWS_MAXHEIGHT_80     "80 % (預設)"
    IDS_AT_SWS_PADDING          "邊框厚度"
    IDS_AT_SWS_PADDING_20       "20 pt (預設)"
    IDS_AT_SWS_PADDING_0        "無"
    IDS_AT_SWS_SHOWDELAY        "顯示延遲"
    IDS_AT_SWS_SHOWDELAY_0      "無"
    IDS_AT_SWS_SHOWDELAY_25     "25 ms"
    IDS_AT_SWS_SHOWDELAY_50     "50 ms"
    IDS_AT_SWS_SHOWDELAY_75     "75 ms"
    IDS_AT_SWS_SHOWDELAY_100    "100 ms (預設)"
    IDS_AT_SWS_SHOWDELAY_125    "125 ms"
    IDS_AT_SWS_SHOWDELAY_150    "150 ms"
    IDS_AT_SWS_SHOWDELAY_200    "200 ms"
    IDS_AT_SWS_SHOWDELAY_300    "300 ms"
    IDS_AT_SWS_SHOWDELAY_400    "400 ms"
    IDS_AT_SWS_SHOWDELAY_500    "500 ms"
    IDS_AT_SWS_SCROLLWHEEL      "透過滑鼠滾輪切換選取視窗"
    IDS_AT_SWS_SCROLLWHEEL_0    "永不 (預設)"
    IDS_AT_SWS_SCROLLWHEEL_1    "當游標懸浮於切換器上時"
    IDS_AT_SWS_SCROLLWHEEL_2    "永遠"
    IDS_AT_SWS_LEARN            "關於簡易視窗切換器"

    IDS_WEATHER                 "天氣"

    IDS_WEATHER_SHOW            "顯示工作列天氣按鈕"
    IDS_WEATHER_LOC             "位置"
    IDS_WEATHER_LOC_PROMPT      "輸入城市名稱或郵遞區號，程式將透過Google搜尋「weather in 這個地方」來查詢天氣。不填預設為目前位置。"
    IDS_WEATHER_LOC_DEFAULT     "目前位置 (預設)"
    IDS_WEATHER_LAYOUT          "佈局"
    IDS_WEATHER_LAYOUT_0        "圖示和描述 (預設)"
    IDS_WEATHER_LAYOUT_3        "圖示和溫度"
    IDS_WEATHER_LAYOUT_1        "圖示"
    IDS_WEATHER_LAYOUT_4        "溫度"
    IDS_WEATHER_LAYOUT_5        "溫度和描述"
    IDS_WEATHER_SIZE            "跳出視窗尺寸"
    IDS_WEATHER_SIZE_0          "自動 (隨內容變化) (預設)"
    IDS_WEATHER_SIZE_2          "自動，隨內容有限變化"
    IDS_WEATHER_SIZE_1          "固定"
    IDS_WEATHER_POSITION        "跳出視窗位置"
    IDS_WEATHER_POSITION_0      "右 / 下 (預設)"
    IDS_WEATHER_POSITION_1      "左 / 上"
    IDS_WEATHER_UPDATEFREQ      "更新頻率"
    IDS_WEATHER_UPDATEFREQ_60   "每分鐘"
    IDS_WEATHER_UPDATEFREQ_300  "每五分鐘"
    IDS_WEATHER_UPDATEFREQ_900  "每十五分鐘"
    IDS_WEATHER_UPDATEFREQ_1200 "每二十分鐘 (預設)"
    IDS_WEATHER_UPDATEFREQ_1800 "每半小時"
    IDS_WEATHER_UPDATEFREQ_3600 "每小時"
    IDS_WEATHER_UPDATEFREQ_7200 "每兩小時"
    IDS_WEATHER_TEMPUNIT        "溫度單位"
    IDS_WEATHER_TEMPUNIT_0      "攝氏溫標℃ (預設)"
    IDS_WEATHER_TEMPUNIT_1      "華氏溫標℉"
    IDS_WEATHER_LANG            "語言"
    IDS_WEATHER_LANG_PROMPT     "在此輸入顯示語言的語言代碼，例如「en」、「ro」、「de」、「fr」等。不填預設為系統語言。"
    IDS_WEATHER_LANG_DEFAULT    "系統語言 (預設)"
    IDS_WEATHER_COLORSCHEME     "顏色模式"
    IDS_WEATHER_COLORSCHEME_0   "跟隨系統設定 (預設)"
    IDS_WEATHER_COLORSCHEME_1   "淺色"
    IDS_WEATHER_COLORSCHEME_2   "深色"
    IDS_WEATHER_CORNERPREF      "邊角"
    IDS_WEATHER_CORNERPREF_2    "圓角 (預設)"
    IDS_WEATHER_CORNERPREF_3    "小圓角"
    IDS_WEATHER_CORNERPREF_1    "直角"
    IDS_WEATHER_ICONPACK        "圖示"
    IDS_WEATHER_ICONPACK_0      "微軟 (預設)"
    IDS_WEATHER_ICONPACK_1      "Google"
    IDS_WEATHER_CONTENTSMODE    "顯示小工具內容"
    IDS_WEATHER_CONTENTSMODE_0  "單行 (預設)"
    IDS_WEATHER_CONTENTSMODE_1  "兩行"
    IDS_WEATHER_ZOOM            "縮放比率"
    IDS_WEATHER_ZOOM_100        "100 % (預設)"
    IDS_WEATHER_LEARN           "關於天氣"
    IDS_WEATHER_LASTUPDATE      "上次更新時間: %s, %s."
    IDS_WEATHER_UPDATE          "重新整理天氣"
    IDS_WEATHER_CLEAR           "清除天氣小工具資料"
    IDS_WEATHER_CLEAR_PROMPT    "確定清除天氣小工具的本機資料嗎? \n\n這將會重設其內部資料，但是保留自訂設定。\n可能可以解決資料和繪製錯誤。"
    IDS_WEATHER_CLEAR_WAIT      "請稍候…"
    IDS_WEATHER_CLEAR_SUCCESS   "天氣小工具資料已清除完成。"
    IDS_WEATHER_CLEAR_FAILED    "清除資料時發生錯誤。"

    IDS_SP                      "Windows 焦點"

    IDS_SP_HIDEICON             "隱藏「瞭解此圖片」按鈕"
    IDS_SP_DESKTOPMENU          "桌面右鍵選單"
    IDS_SP_DESKTOPMENU_0        "(無)"
    IDS_SP_DESKTOPMENU_32       "下一張"
    IDS_SP_DESKTOPMENU_48       "更多、下一張"
    IDS_SP_DESKTOPMENU_288      "提示、下一張"
    IDS_SP_DESKTOPMENU_800      "提示、版權、下一張"
    IDS_SP_DESKTOPMENU_304      "提示、更多、下一張"
    IDS_SP_DESKTOPMENU_816      "提示、版權、更多、下一張"
    IDS_SP_DESKTOPMENU_1008     "(全部)"
    IDS_SP_UPDATEFREQ           "更新頻率"
    IDS_SP_UPDATEFREQ_0         "由系統決定 (預設)"
    IDS_SP_UPDATEFREQ_60        "每分鐘"
    IDS_SP_UPDATEFREQ_300       "每五分鐘"
    IDS_SP_UPDATEFREQ_900       "每十五分鐘"
    IDS_SP_UPDATEFREQ_1200      "每二十分鐘"
    IDS_SP_UPDATEFREQ_1800      "每半小時"
    IDS_SP_UPDATEFREQ_3600      "每小時"
    IDS_SP_UPDATEFREQ_7200      "每兩小時"
    IDS_SP_UPDATEFREQ_21600     "每六小時"
    IDS_SP_UPDATEFREQ_43200     "每十二小時"
    IDS_SP_UPDATEFREQ_86400     "每天"
    IDS_SP_MOREOPTIONS          "顯示更多選項"

    IDS_OTHER                   "其他"

    IDS_OTHER_REMEMBERLAST      "下次開啟本設定時跳轉至關閉時的頁面"
    IDS_OTHER_CLOCKFLYOUT       "按 Win+C 開啟時間，而非開啟 Teams"
    IDS_OTHER_TOOLBARSEPARATORS "工作列與工具列之間顯示分隔符號"
    IDS_OTHER_WINXPROPERTIES    "將內容（ExplorerPatcher 設定）新增至 Win+X 選單中"
    IDS_OTHER_DONTUSEPOWERSHELL "在 Win+X 中顯示命令提示字元，而非 PowerShell"
    IDS_OTHER_WINXACCELERATOR   "Win+X 選單中內容（ExplorerPatcher 設定）不顯示快速鍵"
    IDS_OTHER_DISABLEOFFICE     "停用 Office 快速鍵 (Ctrl+Alt+Shift+Windows 組合鍵)"
    IDS_OTHER_DISABLEWINF       "停用 Win+F 意見反應中樞快速鍵"
    IDS_OTHER_DISABLERC         "停用視窗圓角"
    IDS_OTHER_DISABLEAEROSNAP   "視窗停靠時，停用四角停靠，只保留左右停靠"
    IDS_OTHER_SNAPASSISTSTYLE   "視窗螢幕分割器樣式"
    IDS_OTHER_SNAPASSISTSTYLE_0 "Windows 11 (預設)"
    IDS_OTHER_SNAPASSISTSTYLE_3 "Windows 10"
    IDS_OTHER_PWRBTNACTION      "於桌面按下 Alt+F4 對話方塊預設選取"
    IDS_OTHER_PWRBTNACTION_256  "切換使用者"
    IDS_OTHER_PWRBTNACTION_1    "登出"
    IDS_OTHER_PWRBTNACTION_16   "睡眠"
    IDS_OTHER_PWRBTNACTION_64   "休眠"
    IDS_OTHER_PWRBTNACTION_2    "關機 (預設)"
    IDS_OTHER_PWRBTNACTION_4    "重新啟動"
    IDS_OTHER_NOREDIRECT        "復原被跳轉到設定的控制台連結 :"
    IDS_OTHER_NOREDIRECT_SYSTEM "系統 / 關於頁面"
    IDS_OTHER_NOREDIRECT_PROGRAMS "程式和功能"
    IDS_OTHER_NOREDIRECT_DATETIME "設定日期和時間"
    IDS_OTHER_NOREDIRECT_TRAYICONS "自訂通知區域圖示"

    IDS_UPDATES                 "更新"

    IDS_UPDATES_POLICY          "檔案總管啟動時"
    IDS_UPDATES_POLICY_1        "僅通知 (預設)"
    IDS_UPDATES_POLICY_0        "有更新時提示安裝"
    IDS_UPDATES_POLICY_2        "不檢查更新"
    IDS_UPDATES_PREFER_STAGING  "接收測試版更新 (不建議)"
    IDS_UPDATES_DOWNGRADES      "接收伺服器上最新的版本，忽略本機版本(不建議)"
    IDS_UPDATES_UPDATESERVERS   "更新伺服器 :"
    IDS_UPDATES_RELEASES        "穩定版"
    IDS_UPDATES_RELEASES_PROMPT "輸入一個支援 GitHub 穩定版 API 的網址。如需自建更新伺服器，請查閱軟體 Wiki。"
    IDS_UPDATES_STAGING         "預覽版"
    IDS_UPDATES_STAGING_PROMPT  "輸入一個支援 GitHub 預覽版 API 的網址。如需自建更新伺服器，請查閱軟體 Wiki。"
    IDS_UPDATES_CHECK           "檢查更新"
    IDS_UPDATES_INSTALL         "更新並重新啟動檔案總管"
    IDS_UPDATES_CHANGES         "更新日誌"
    IDS_UPDATES_LEARN           "了解更多"

    IDS_ADV                     "進階"

    IDS_ADV_DISCLAIMER          "請仔細閱讀檔案後再修改這些設定。"
    IDS_ADV_LEARN               "檔案"
    IDS_ADV_CONSOLE             "啟用控制台"
    IDS_ADV_MEMCHECK            "轉儲記憶體洩漏紀錄"
    IDS_ADV_AUTOHIDE            "按兩下工作列以切換自動隱藏 (僅在工作列鎖定時有效)"
    IDS_ADV_PAINTDESKTOPVERSION "桌面顯示 Windows 版本浮水印"
    IDS_ADV_CLASSICTHEME        "啟用進階緩解措施以正確繪製和使用經典主題"
    IDS_ADV_SYSLISTVIEW32       "啟用舊版檢視控制項 SysListView32"
    IDS_ADV_NOPROPERTIES        "不修改工作列右鍵選單，隱藏 ExplorerPatcher 設定入口（內容）"
    IDS_ADV_SYMBOLS             "啟用符號檔案下載"
    IDS_ADV_PINNEDITEMS         "以固定項目作為快速啟動 (不把固定項目和活動中的應用程式分組)"
    IDS_ADV_REMOVEEXTRAGAP      "工作列顯示按鈕標籤時，移除固定項目周圍的額外間隙"
    IDS_ADV_DELAY               "登入後的延遲"
    IDS_ADV_DELAY_0             "無 (預設)"
    IDS_ADV_DELAY_300           "300 ms"
    IDS_ADV_DELAY_600           "600 ms"
    IDS_ADV_DELAY_1000          "1 秒"
    IDS_ADV_DELAY_1500          "1.5 秒"
    IDS_ADV_DELAY_2000          "2 秒"
    IDS_ADV_DELAY_3000          "3 秒"
    IDS_ADV_DELAY_4000          "4 秒"
    IDS_ADV_DELAY_5000          "5 秒"
    IDS_ADV_DELAY_6000          "6 秒"
    IDS_ADV_DELAY_8000          "8 秒"
    IDS_ADV_DELAY_10000         "10 秒"
    IDS_ADV_XAMLSOUNDS          "在檔案總管的 XAML 檢視中啟用 UI 音效"

    IDS_ABOUT                   "關於"

    IDS_ABOUT_VERSION           "版本 %d.%d.%d.%d%s"
    IDS_ABOUT_PROJECT           "此專案讓 Windows 的工作環境更加高效率。"
    IDS_ABOUT_AUTHOR            "Valentin-Gabriel Radu 榮譽出品。"
    IDS_ABOUT_OS                "系統版本 %s 組建 %d.%d。"
    IDS_ABOUT_GITHUB            "在 GitHub 上檢視此專案"
    IDS_ABOUT_WEBSITE           "瀏覽官網"
    IDS_ABOUT_DONATE            "捐贈支援"
    IDS_ABOUT_FAQ               "常見問題"
    IDS_ABOUT_SETTINGS          "設定指南"
    IDS_ABOUT_IMPORT            "匯入設定"
    IDS_ABOUT_EXPORT            "匯出設定"
    IDS_ABOUT_EXPORT_SUCCESS    "設定匯出完成。"
    IDS_ABOUT_RESET             "復原預設設定"

    IDS_FOOTER_RESTART          "重新啟動檔案總管"
END
