#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN

STRINGTABLE
BEGIN
    IDS_UPDATES_CHECKING_T      "アップデートの確認中…"
    IDS_UPDATES_AVAILABLE_T     "バージョン %d.%d.%d.%d が利用可能です"
    IDS_UPDATES_AVAILABLE_T_U   "新しいバージョンが利用可能です"
    IDS_UPDATES_AVAILABLE_B     "アップデートするには、タスク バーを右クリックして ""プロパティ""、""アップデート"" の順に選択してください。アップデートの詳細については、ここをクリックしてください。"
    IDS_UPDATES_ISLATEST_T      "利用可能なアップデートはありません"
    IDS_UPDATES_ISLATEST_B      "後で確認してください。"
    IDS_UPDATES_CHECKFAILED_T   "アップデートの確認ができませんでした"
    IDS_UPDATES_CHECKFAILED_B   "インターネットに接続されていること、リモート サーバーがオンラインであることを確認してください。"
    IDS_UPDATES_DOWNLOADING_T   "アップデートのダウンロードとインストール中"
    IDS_UPDATES_SUCCESS_T       "アップデート成功"
    IDS_UPDATES_DLFAILED_T      "アップデート失敗"
    IDS_UPDATES_DLFAILED_B      "このアップデートをインストールしようとしたときに、要求が拒否されたか、エラーが発生しました。"
    IDS_UPDATES_INSTALLEDVER    "インストール済みのバージョン: %d.%d.%d.%d"
    IDS_UPDATES_PROMPT          "ExplorerPatcher のアップデートをインストールしますか?\n\nダウンロード元:\n%s"

    IDS_SYM_DL_T                "OS ビルド %s 用のシンボルのダウンロード中です。お待ちください…"
    IDS_SYM_DL_B                "数分かかる場合があります。ダウンロード完了までは、ExplorerPatcher は機能が制限されたり、故障したりする可能性があります。シンボルの詳細については、ここをクリックしてください。"
    IDS_SYM_SUCCESS_T           "OS ビルド %s 用のシンボルが正常にダウンロードされました"
    IDS_SYM_SUCCESS_B           "エクスプローラーを再起動して、正常な機能を回復してください。"
    IDS_SYM_FAILEDSOME_T        "OS ビルド %s 用の一部のシンボルがダウンロードされました"
    IDS_SYM_FAILEDSOME_B        "一部の他のシンボルがダウンロードできませんでした。これは、現在の OS ビルドが最新すぎるか、インターネット接続が不安定であることが原因である可能性があります。"
    IDS_SYM_FAILEDALL_T         "OS ビルド %s 用のシンボルのダウンロードに失敗しました"
    IDS_SYM_FAILEDALL_B         "このビルドの全てのシンボルがダウンロードできませんでした。これは、現在の OS ビルドが最新すぎるか、インターネット接続が利用不可または不安定であることが原因である可能性があります。"

    IDS_CRASH_TITLE             "残念ながら、エクスプローラーがクラッシュしています :("
    IDS_CRASH_BODY              "起動時、%2$d 秒以内に %1$s予期せぬエクスプローラーがクラッシュしたようです。このクラッシュは、ExplorerPatcher によって引き起こされた可能性があります。これは、ExplorerPatcher が Windows 側の変更を認識していない可能性があります。(新しい OS ビルドで実行している場合など)。\n推奨される対処法は以下のとおりです:\n• 更新が利用可能な場合、<A HREF=""%3$s"">ExplorerPatcher を更新してエクスプローラを再起動する</A>ことができます。\n• GitHub では、<A HREF=""%4$s"">リリースを確認したり</A>、<A HREF=""%5$s"">現在のステータスを確認したり</A>、<A HREF=""%6$s"">ディスカッションに参加</A>または<A HREF=""%7$s"">最新の issue を確認</A>することが可能です。\n• ExplorerPatcher が原因ではないと思われる場合は、最近インストールされたシェル拡張機能または同様のユーティリティをアンインストールしてください。\n• 問題が解決しない場合、<A HREF=""%8$s"">ExplorerPatcher をアンインストール</A>し、修正版が公開された後再インストールすることができます。アンインストールしても、ExplorerPatcher の設定は保持されますのでご安心ください。\n\nご迷惑をおかけして申し訳ありません。このプログラムを更新し、継続的に機能するよう最善を尽くしています。\n\nExplorerPatcher は、メンテナンス タスクや必要なアクションを実行できるように、次のエクスプローラーの再起動まで無効化されます。"
    IDS_CRASH_ONCE              "1 回"
    IDS_CRASH_MULTIPLE          "%d 回"
    IDS_CRASH_DISMISS           "OK"

    IDS_TB                      "タスク バー"

    IDS_TB_STYLE                "タスク バーのスタイル"
    IDS_TB_STYLE_0              "Windows 11 (デフォルト)"
    IDS_TB_STYLE_1              "Windows 10"
    IDS_TB_MORE                 "設定アプリでタスク バーのその他のオプション"
    IDS_TB_CUSTOMIZETRAYICONS   "通知領域のアイコンをカスタマイズ"
    IDS_TB_CUSTOMIZESYSTEMICONS "通知領域のシステム アイコンをカスタマイズ"
    IDS_TB_PRIMARYTBPOS         "画面上のプライマリ タスク バーの位置"
    IDS_TB_POSBOTTOM            "下 (デフォルト)"
    IDS_TB_POSTOP               "上"
    IDS_TB_POSLEFT              "左"
    IDS_TB_POSRIGHT             "右"
    IDS_TB_SECONDARYTBPOS       "画面上のセカンダリ タスク バーの位置"
    IDS_TB_EXTRABTN             "追加のボタン"
    IDS_TB_EXTRABTN_0           "非表示 (デフォルト)"
    IDS_TB_EXTRABTN_2           "表示、Cortana を開く"
    IDS_TB_EXTRABTN_1           "表示、ウィジェットを開く"
    IDS_TB_SEARCHMODE_W11       "検索ボタンを表示する"
    IDS_TB_SEARCHMODE           "検索"
    IDS_TB_SEARCHMODE_0         "非表示"
    IDS_TB_SEARCHMODE_1         "検索アイコンを表示"
    IDS_TB_SEARCHMODE_2         "検索ボックスを表示"
    IDS_TB_CORTANABTN           "Cortana ボタンを表示する"
    IDS_TB_TASKVIEWBTN          "タスク ビュー ボタンを表示する"
    IDS_TB_WIDGETSBTN           "ウィジェット ボタンを表示する"
    IDS_TB_AUTOHIDETB           "タスク バーを自動的に隠す"
    IDS_TB_STARTBTNSTYLE        "スタート ボタンのスタイル"
    IDS_TB_STARTBTNSTYLE_0      "Windows 10 (デフォルト)"
    IDS_TB_STARTBTNSTYLE_1      "Windows 11"
    IDS_TB_PRIMARYTBALIGN       "プライマリ タスク バーの配置"
    IDS_TB_TBALIGN_0            "画面端 (デフォルト)"
    IDS_TB_TBALIGN_1            "中央"
    IDS_TB_TBALIGN_5            "中央、入りきらない場合画面端"
    IDS_TB_TBALIGN_3            "スタート ボタンとともに中央"
    IDS_TB_TBALIGN_7            "スタート ボタンとともに中央、入りきらない場合画面端"
    IDS_TB_SECONDARYTBALIGN     "セカンダリ タスク バーの配置"
    IDS_TB_PRIMARYTBGLOM        "プライマリ タスク バーのアイコンをまとめる"
    IDS_TB_GLOM_0_D             "常時 (デフォルト)"
    IDS_TB_GLOM_0               "常時"
    IDS_TB_GLOM_1               "タスク バーに入りきらない場合"
    IDS_TB_GLOM_2_D             "なし (デフォルト)"
    IDS_TB_GLOM_2               "なし"
    IDS_TB_SECONDARYTBGLOM      "セカンダリ タスク バーのアイコンをまとめる"
    IDS_TB_ICONSIZE             "タスク バーのアイコン サイズ"
    IDS_TB_ICONSIZE_1           "小"
    IDS_TB_ICONSIZE_0           "大 (デフォルト)"

    IDS_TRAY                    "システム トレイ"

    IDS_TRAY_SKINMENUS          "タスク バーとトレイのポップアップ メニューをスキンする"
    IDS_TRAY_CENTERMENUS        "トレイ アイコンのポップアップ メニューを中央にする"
    IDS_TRAY_FLYOUTMENUS        "トレイ アイコンのポップアップ メニューをフライアウト動作にする"
    IDS_TRAY_TOUCHKB            "タッチ キーボード ボタンを表示する"
    IDS_TRAY_SHOWSECONDS        "時計に秒を表示する"
    IDS_TRAY_CCBTN              "コントロール センター ボタンを表示する"
    IDS_TRAY_SHOWDESKTOPBTN     "デスクトップ ボタンを表示する"
    IDS_TRAY_SHOWDESKTOPBTN_1   "有効 (デフォルト)"
    IDS_TRAY_SHOWDESKTOPBTN_0   "無効"
    IDS_TRAY_SHOWDESKTOPBTN_2   "非表示"
    IDS_TRAY_SKINICONS          "システム トレイ アイコンに Windows 11 のスタイルを適用する"
    IDS_TRAY_REPLACENETWORK_L1  "ネットワーク アイコンを右クリックして、""ネットワークとインターネットの設定を開く"""
    IDS_TRAY_REPLACENETWORK_L2  "を選択するとき次を開く"
    IDS_TRAY_REPLACENETWORK_0   "設定アプリのネットワーク設定 (デフォルト)"
    IDS_TRAY_REPLACENETWORK_1   "コントロール パネルのネットワークと共有"
    IDS_TRAY_REPLACENETWORK_2   "コントロール パネルのネットワーク接続"
    IDS_TRAY_SYSICONBEHAVIOR    "システム トレイのシステム アイコンをクリックするとき次を開く:"
    IDS_TRAY_NETWORK            "ネットワーク"
    IDS_TRAY_NETWORK_6          "コントロール センタ"
    IDS_TRAY_NETWORK_5          "Windows 11 の Wi-Fi フライアウト"
    IDS_TRAY_NETWORK_0          "Windows 10 のフライアウト (デフォルト)"
    IDS_TRAY_NETWORK_2          "Windows 8 のフライアウト"
    IDS_TRAY_NETWORK_1          "設定アプリのネットワーク設定"
    IDS_TRAY_SOUND              "サウンド"
    IDS_TRAY_SOUND_1            "Windows 10 のフライアウト (デフォルト)"
    IDS_TRAY_SOUND_0            "Windows 7 のフライアウト"
    IDS_TRAY_CLOCK              "時計"
    IDS_TRAY_CLOCK_2            "Windows 11 のフライアウト"
    IDS_TRAY_CLOCK_0            "Windows 10 のフライアウト (デフォルト)"
    IDS_TRAY_CLOCK_1            "Windows 7"
    IDS_TRAY_CLOCK_2_W10        "アクション センター"
    IDS_TRAY_BATTERY            "バッテリー"
    IDS_TRAY_BATTERY_0          "Windows 10 のフライアウト (デフォルト)"
    IDS_TRAY_BATTERY_1          "Windows 7"
    IDS_TRAY_LANGSWITCHER       "言語の切り替え"
    IDS_TRAY_LANGSWITCHER_0     "Windows 11 (デフォルト)"
    IDS_TRAY_LANGSWITCHER_1_21H2 "Windows 10 (""言語設定"" のリンクあり)"
    IDS_TRAY_LANGSWITCHER_7     "Windows 10"
    IDS_TRAY_LANGSWITCHER_1     "Windows 10 (""言語設定"" のリンクあり) (アニメーションなし)"
    IDS_TRAY_LANGSWITCHER_4     "Windows 10 (アニメーションなし)"

    IDS_EXP                     "エクスプローラー"

    IDS_EXP_SHEXT_L1            "(**) の付いた設定が ""ファイルを開く"" または ""ファイルを保存する"" ダイアログで機能するには、"
    IDS_EXP_SHEXT_L2            "以下のオプションを利用してこのプログラムをシェル拡張として登録します。"
    IDS_EXP_SHEXT_LEARN         "詳しく見る"
    IDS_EXP_SHEXT_REGISTER      "シェル拡張として登録する"
    IDS_EXP_DISABLECTXMENU      "Windows 11 のコンテキストメニューを無効にする"
    IDS_EXP_LEGACYFTDIALOG      "常にレガシーなファイル転送ダイアログを使用する"
    IDS_EXP_CLASSICDRIVEGROUP   "クラシックなドライブ グループを使用する"
    IDS_EXP_CTRLINTF            "コントロール インターフェイス"
    IDS_EXP_CTRLINTF_0_W11      "Windows 11 のコマンド バー (デフォルト)"
    IDS_EXP_CTRLINTF_3          "Windows 11 のコマンド バー (タブなし、クラシックなアドレス バー)"
    IDS_EXP_CTRLINTF_4          "Windows 11 のコマンド バー (クラシックなアドレス バー)"
    IDS_EXP_CTRLINTF_0_W10      "Windows 10 のリボン (デフォルト)"
    IDS_EXP_CTRLINTF_1_W11      "Windows 10 のリボン"
    IDS_EXP_CTRLINTF_2          "Windows 7 のコマンド バー"
    IDS_EXP_NEWWINDOWS          "以下の設定は、新しく作成されたファイル エクスプローラーのウィンドウに適用されます。"
    IDS_EXP_IMMERSIVEMENUS      "Windows 10 のコンテキストメニューの表示時、イマーシブ メニューを使用する"
    IDS_EXP_DISABLENAVBAR       "ナビゲーション バーを無効にする"
    IDS_EXP_DISABLESEARCHBAR    "モダンな検索バーを無効にする"
    IDS_EXP_SHRINKADDRESSBAR    "アドレス バーの高さを縮める"
    IDS_EXP_HIDESEARCHBAR       "検索バーを完全に隠す"
    IDS_EXP_TITLEBAR            "タイトル バー"
    IDS_EXP_TITLEBAR_0          "アイコンとタイトルを表示 (デフォルト)"
    IDS_EXP_TITLEBAR_1          "タイトルを隠してアイコンを表示"
    IDS_EXP_TITLEBAR_2          "アイコンを隠してタイトルを表示"
    IDS_EXP_TITLEBAR_3          "アイコンとタイトルを隠す"
    IDS_EXP_MICA                "Windows 7 のエクスプローラー ウインドウのナビゲーション バーにマイカ効果を適用する"

    IDS_START                   "スタート メニュー"

    IDS_START_STYLE             "スタート メニューのスタイル"
    IDS_START_STYLE_0           "Windows 11 (デフォルト)"
    IDS_START_STYLE_1           "Windows 10"
    IDS_START_MORE              "設定アプリでスタート メニューのその他のオプション"
    IDS_START_POSITION          "画面上の配置"
    IDS_START_POSITION_0        "画面端"
    IDS_START_POSITION_1        "中央 (デフォルト)"
    IDS_START_MAXFREQAPPS       "よく使うアプリの最大表示数"
    IDS_START_MAXFREQAPPS_0     "なし"
    IDS_START_MAXFREQAPPS_6     "6 (デフォルト)"
    IDS_START_MAXFREQAPPS_99999 "無制限"
    IDS_START_MONITOROVERRIDE_L1 "マルチ ディスプレイを使用している時にWindowsキーを押した場合、以下のモニターで"
    IDS_START_MONITOROVERRIDE_L2 "スタートを開く"
    IDS_START_MONITOROVERRIDE_1 "プライマリ モニター (デフォルト)"
    IDS_START_MONITOROVERRIDE_0 "カーソルがあるモニター"
    IDS_START_MONITOROVERRIDE_2 "モニター #2"
    IDS_START_MONITOROVERRIDE_3 "モニター #3"
    IDS_START_MONITOROVERRIDE_4 "モニター #4"
    IDS_START_MONITOROVERRIDE_5 "モニター #5"
    IDS_START_MONITOROVERRIDE_6 "モニター #6"
    IDS_START_MONITOROVERRIDE_7 "モニター #7"
    IDS_START_MONITOROVERRIDE_8 "モニター #8"
    IDS_START_MONITOROVERRIDE_9 "モニター #9"
    IDS_START_NORECOMMENDED     """おすすめ"" の項目を無効にする"
    IDS_START_MAKEALLAPPSDEFAULT """すべてのアプリ"" が展開された状態でスタートを開く"
    IDS_START_SHOWMORETILES     "スタートのタイル表示数を増やす"
    IDS_START_CORNERPREF        "角の設定"
    IDS_START_CORNERPREF_1      "丸みを帯びた角、フローティング メニュー"
    IDS_START_CORNERPREF_2      "丸みを帯びた角、ドッキング メニュー"
    IDS_START_CORNERPREF_0      "丸みなし"
    IDS_START_DISPLAYMODE       "表示モード"
    IDS_START_DISPLAYMODE_0     "デフォルト"
    IDS_START_DISPLAYMODE_1     "スタート メニュー"
    IDS_START_DISPLAYMODE_2     "フルスクリーンのスタート メニュー"
    IDS_START_APPLIST           "アプリ一覧"
    IDS_START_APPLIST_0         "表示"
    IDS_START_APPLIST_3         "非表示"
    IDS_START_APPLIST_1         "無効"
    IDS_START_NOTICE            "必ずお読みください: この機能に関する重要なお知らせ (オンライン)"
    IDS_START_WIN10_NOTICE      "古いバージョンの Windows 10 では一部の設定が使用できない可能性があります。"

    IDS_AT                      "ウィンドウの切り替え"

    IDS_AT_STYLE                "ウィンドウの切り替え (Alt+Tab) のスタイル"
    IDS_AT_STYLE_0_W11          "Windows 11 (デフォルト)"
    IDS_AT_STYLE_0_W10          "Windows 10 (デフォルト)"
    IDS_AT_STYLE_3              "Windows 10"
    IDS_AT_STYLE_1              "Windows NT"
    IDS_AT_STYLE_2              "Simple Window Switcher"
    IDS_AT_SWS_INCLUDEWALLPAPER "デスクトップをインタラクション リストの最後のウィンドウとして表示する"
    IDS_AT_SWS_PRIMARYONLY      "常にプライマリー モニターにスイッチャーを表示する"
    IDS_AT_SWS_PERMONITOR       "カーソルのあるモニターからしかウィンドウを表示しない"
    IDS_AT_SWS_GROUPWINDOWS     "同じアプリのウィンドウをグループ化する"
    IDS_AT_SWS_NOPERAPP         "アプリごとのインタラクション リストを無効にする ( Alt + %c )"
    IDS_AT_SWS_THEME            "テーマ"
    IDS_AT_SWS_THEME_0          "デフォルト"
    IDS_AT_SWS_THEME_1          "アクリル"
    IDS_AT_SWS_THEME_2          "マイカ (常に不透明)"
    IDS_AT_SWS_OPACITY          "不透明度"
    IDS_AT_SWS_OPACITY_100      "不透明"
    IDS_AT_SWS_OPACITY_95       "95 % (デフォルト)"
    IDS_AT_SWS_COLORSCHEME      "配色"
    IDS_AT_SWS_COLORSCHEME_0    "システムの設定に従う"
    IDS_AT_SWS_COLORSCHEME_1    "ライト"
    IDS_AT_SWS_COLORSCHEME_2    "ダーク"
    IDS_AT_SWS_CORNERPREF       "角の設定"
    IDS_AT_SWS_CORNERPREF_2     "丸める (デフォルト)"
    IDS_AT_SWS_CORNERPREF_3     "少しだけ丸める"
    IDS_AT_SWS_CORNERPREF_1     "丸みなし"
    IDS_AT_SWS_ROWHEIGHT        "列の高さ"
    IDS_AT_SWS_ROWHEIGHT_230    "230 pt (デフォルト)"
    IDS_AT_SWS_MAXWIDTH         "最大幅 (画面幅に対する割合)"
    IDS_AT_SWS_MAXWIDTH_100     "100 % (非推奨)"
    IDS_AT_SWS_MAXWIDTH_80      "80 % (デフォルト)"
    IDS_AT_SWS_MAXHEIGHT        "最大高さ (画面高さに対する割合)"
    IDS_AT_SWS_MAXHEIGHT_100    "100 % (非推奨)"
    IDS_AT_SWS_MAXHEIGHT_80     "80 % (デフォルト)"
    IDS_AT_SWS_PADDING          "ウィンドウの余白"
    IDS_AT_SWS_PADDING_20       "20 pt (デフォルト)"
    IDS_AT_SWS_PADDING_0        "なし"
    IDS_AT_SWS_SHOWDELAY        "表示の遅延"
    IDS_AT_SWS_SHOWDELAY_0      "なし"
    IDS_AT_SWS_SHOWDELAY_25     "25 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_50     "50 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_75     "75 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_100    "100 ミリ秒 (デフォルト)"
    IDS_AT_SWS_SHOWDELAY_125    "125 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_150    "150 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_200    "200 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_300    "300 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_400    "400 ミリ秒"
    IDS_AT_SWS_SHOWDELAY_500    "500 ミリ秒"
    IDS_AT_SWS_SCROLLWHEEL      "ホイール スクロールで選択項目を変更する"
    IDS_AT_SWS_SCROLLWHEEL_0    "しない (デフォルト)"
    IDS_AT_SWS_SCROLLWHEEL_1    "カーソルがスイッチャー上にある場合"
    IDS_AT_SWS_SCROLLWHEEL_2    "常時"
    IDS_AT_SWS_LEARN            "Simple Window Switcher についての詳細はこちら"

    IDS_WEATHER                 "天気"

    IDS_WEATHER_SHOW            "タスク バーに天気を表示する"
    IDS_WEATHER_LOC             "場所"
    IDS_WEATHER_LOC_PROMPT      "都市または郵便番号を検索します。プログラムは Google で ""/*あなたが入力した場所*/の天気"" を検索します。デフォルト値 (現在地) は空白のままにしておきます。"
    IDS_WEATHER_LOC_DEFAULT     "現在地 (デフォルト)"
    IDS_WEATHER_LAYOUT          "レイアウト"
    IDS_WEATHER_LAYOUT_0        "アイコンと概要 (デフォルト)"
    IDS_WEATHER_LAYOUT_3        "アイコンと温度"
    IDS_WEATHER_LAYOUT_1        "アイコンのみ"
    IDS_WEATHER_LAYOUT_4        "温度のみ"
    IDS_WEATHER_LAYOUT_5        "温度と概要"
    IDS_WEATHER_SIZE            "ウィジェットのサイズ"
    IDS_WEATHER_SIZE_0          "自動 (内容に合わせて) (デフォルト)"
    IDS_WEATHER_SIZE_2          "自動 (内容に合わせて) しきい値あり"
    IDS_WEATHER_SIZE_1          "固定"
    IDS_WEATHER_POSITION        "ウィジェットの位置"
    IDS_WEATHER_POSITION_0      "右 / 下部 (デフォルト)"
    IDS_WEATHER_POSITION_1      "左 / 上部"
    IDS_WEATHER_UPDATEFREQ      "更新頻度"
    IDS_WEATHER_UPDATEFREQ_60   "毎分"
    IDS_WEATHER_UPDATEFREQ_300  "5 分ごと"
    IDS_WEATHER_UPDATEFREQ_900  "5 分ごと"
    IDS_WEATHER_UPDATEFREQ_1200 "20 分ごと (デフォルト)"
    IDS_WEATHER_UPDATEFREQ_1800 "30 分ごと"
    IDS_WEATHER_UPDATEFREQ_3600 "毎時間おき"
    IDS_WEATHER_UPDATEFREQ_7200 "数時間おき"
    IDS_WEATHER_TEMPUNIT        "温度単位"
    IDS_WEATHER_TEMPUNIT_0      "摂氏 (デフォルト)"
    IDS_WEATHER_TEMPUNIT_1      "華氏"
    IDS_WEATHER_LANG            "言語"
    IDS_WEATHER_LANG_PROMPT     "天気データを表示させたい言語のショート コードを入力します。(""en"", ""ro"", ""de"", ""fr"" など) デフォルト値 (Windows の言語) は空白にしてください。"
    IDS_WEATHER_LANG_DEFAULT    "システムの言語 (デフォルト)"
    IDS_WEATHER_COLORSCHEME     "配色"
    IDS_WEATHER_COLORSCHEME_0   "システムの設定に従う (デフォルト)"
    IDS_WEATHER_COLORSCHEME_1   "ライト"
    IDS_WEATHER_COLORSCHEME_2   "ダーク"
    IDS_WEATHER_CORNERPREF      "角の設定"
    IDS_WEATHER_CORNERPREF_2    "丸める (デフォルト)"
    IDS_WEATHER_CORNERPREF_3    "少しだけ丸める"
    IDS_WEATHER_CORNERPREF_1    "丸みなし"
    IDS_WEATHER_ICONPACK        "アイコン パック"
    IDS_WEATHER_ICONPACK_0      "Microsoft (デフォルト)"
    IDS_WEATHER_ICONPACK_1      "Google"
    IDS_WEATHER_CONTENTSMODE    "ウィジェットの内容を表示する"
    IDS_WEATHER_CONTENTSMODE_0  "1 行で表示 (デフォルト)"
    IDS_WEATHER_CONTENTSMODE_1  "可能であれば 2 行で表示"
    IDS_WEATHER_ZOOM            "拡大率"
    IDS_WEATHER_ZOOM_100        "100 % (デフォルト)"
    IDS_WEATHER_LEARN           "天気予報タスク バー ウィジェットについてもっと知る"
    IDS_WEATHER_LASTUPDATE      "最終更新日時: %s, %s."
    IDS_WEATHER_UPDATE          "今すぐ天気を更新"
    IDS_WEATHER_CLEAR           "天気予報ウィジェットのローカル データをクリア"
    IDS_WEATHER_CLEAR_PROMPT    "天気予報ウィジェットのローカル データを永久にクリアしてもよろしいですか?\n\nこれは内部コンポーネントをデフォルトの状態にリセットしますが、あなたの設定は保持されます。これにより、ウィジェットがデータを正しくロードしない、または、レイアウトの問題があるなどの問題が解決されるかもしれません。"
    IDS_WEATHER_CLEAR_WAIT      "お待ちください…"
    IDS_WEATHER_CLEAR_SUCCESS   "天気予報ウィジェットのデータが正常にクリアされました。"
    IDS_WEATHER_CLEAR_FAILED    "データのクリア中にエラーが発生しました。"

    IDS_SP                      "スポットライト"

    IDS_SP_HIDEICON             """この写真について学ぶ"" のアイコンを非表示にする"
    IDS_SP_DESKTOPMENU          "デスクトップのコンテキスト メニューの項目"
    IDS_SP_DESKTOPMENU_0        "項目なし"
    IDS_SP_DESKTOPMENU_32       "次の写真に切り替える"
    IDS_SP_DESKTOPMENU_48       "写真について学ぶ,次の画像への切り替え"
    IDS_SP_DESKTOPMENU_288      "情報、次の写真への切り替え"
    IDS_SP_DESKTOPMENU_800      "情報、著作権、次の画像への切り替え"
    IDS_SP_DESKTOPMENU_304      "情報、写真について学ぶ、および次の画像への切り替え"
    IDS_SP_DESKTOPMENU_816      "情報、著作権、写真について学ぶ、次の画像への切り替え"
    IDS_SP_DESKTOPMENU_1008     "すべての項目"
    IDS_SP_UPDATEFREQ           "更新頻度"
    IDS_SP_UPDATEFREQ_0         "Windows に最適なスケジュールを決定させる (デフォルト)"
    IDS_SP_UPDATEFREQ_60        "毎分"
    IDS_SP_UPDATEFREQ_300       "5 分ごと"
    IDS_SP_UPDATEFREQ_900       "15 分ごと"
    IDS_SP_UPDATEFREQ_1200      "20 分ごと"
    IDS_SP_UPDATEFREQ_1800      "30 分ごと"
    IDS_SP_UPDATEFREQ_3600      "毎時間おき"
    IDS_SP_UPDATEFREQ_7200      "数時間おき"
    IDS_SP_UPDATEFREQ_21600     "6 時間ごと"
    IDS_SP_UPDATEFREQ_43200     "12 時間ごと"
    IDS_SP_UPDATEFREQ_86400     "1 日ごと"
    IDS_SP_MOREOPTIONS          "その他のオプション"

    IDS_OTHER                   "その他"

    IDS_OTHER_REMEMBERLAST      "このウィンドウで最後に使用したセクションを記憶する"
    IDS_OTHER_CLOCKFLYOUT       "Win+C を押した時、Microsoft Teams の代わりに時計のフライアウトを開く"
    IDS_OTHER_TOOLBARSEPARATORS "タスク バーのツールバーの間にセパレーターを表示する"
    IDS_OTHER_WINXPROPERTIES    "Win+X メニューにプログラムの設定のショートカットを追加する"
    IDS_OTHER_DONTUSEPOWERSHELL "Win+X メニューの PowerShell の代わりにコマンド プロンプトを開く"
    IDS_OTHER_WINXACCELERATOR   "Win+X メニューのプログラム設定項目からショートカット キーを削除する"
    IDS_OTHER_DISABLEOFFICE     "Office ホットキー (Ctrl+Alt+Shift+Windows キーの組み合わせ) を無効化する"
    IDS_OTHER_DISABLEWINF       "Win+F (フィードバック Hub) ホットキーを無効化する"
    IDS_OTHER_DISABLERC         "アプリケーション ウィンドウの角の丸みを無効化する"
    IDS_OTHER_DISABLEAEROSNAP   "ウィンドウをスナップ時の象限を無効にする"
    IDS_OTHER_SNAPASSISTSTYLE   "スナップ アシストのスタイル"
    IDS_OTHER_SNAPASSISTSTYLE_0 "Windows 11 (デフォルト)"
    IDS_OTHER_SNAPASSISTSTYLE_3 "Windows 10"
    IDS_OTHER_PWRBTNACTION      "デスクトップ上の Alt+F4 ダイアログのデフォルトの動作"
    IDS_OTHER_PWRBTNACTION_256  "ユーザーの切り替え"
    IDS_OTHER_PWRBTNACTION_1    "サインアウト"
    IDS_OTHER_PWRBTNACTION_16   "スリープ"
    IDS_OTHER_PWRBTNACTION_64   "休止状態"
    IDS_OTHER_PWRBTNACTION_2    "シャットダウン (デフォルト)"
    IDS_OTHER_PWRBTNACTION_4    "再起動"
    IDS_OTHER_NOREDIRECT        "以下のコントロール パネルのリンクが設定アプリにリダイレクトされないようにする:"
    IDS_OTHER_NOREDIRECT_SYSTEM "システム / バージョン情報"
    IDS_OTHER_NOREDIRECT_PROGRAMS "プログラムと機能"
    IDS_OTHER_NOREDIRECT_DATETIME "日付と時刻の調整"
    IDS_OTHER_NOREDIRECT_TRAYICONS "通知アイコンのカスタマイズ"

    IDS_UPDATES                 "アップデート"

    IDS_UPDATES_POLICY          "エクスプローラーが起動したら"
    IDS_UPDATES_POLICY_1        "利用可能なアップデートを通知する (デフォルト)"
    IDS_UPDATES_POLICY_0        "利用可能なアップデートをインストールするためのプロンプトを表示する"
    IDS_UPDATES_POLICY_2        "アップデートを確認しない"
    IDS_UPDATES_PREFER_STAGING  "プレリリースのバージョンがある場合は、それを受け取る (非推奨)"
    IDS_UPDATES_DOWNGRADES      "古いバージョンでも、サーバー上の最新バージョンを提案する (非推奨)"
    IDS_UPDATES_UPDATESERVERS   "アップデート サーバー:"
    IDS_UPDATES_RELEASES        "リリース"
    IDS_UPDATES_RELEASES_PROMPT "GitHub のリリース API に準拠したリソースを提供する URL を指定します。独自のアップデート サーバーを設定する方法については、Wiki をご参照ください。"
    IDS_UPDATES_STAGING         "プレリリース"
    IDS_UPDATES_STAGING_PROMPT  "GitHub のプレリリース API に準拠したリソースを提供する URL を指定します。独自のアップデート サーバーを設定する方法については、Wiki をご参照ください。"
    IDS_UPDATES_CHECK           "アップデートを確認"
    IDS_UPDATES_INSTALL         "プログラムをアップデートしてエクスプローラーを再起動"
    IDS_UPDATES_CHANGES         "最新リリースの変更点について"
    IDS_UPDATES_LEARN           "詳しく見る"

    IDS_ADV                     "高度な設定"

    IDS_ADV_DISCLAIMER          "これらの設定は、それに関するドキュメントを読んだ後にのみ変更してください。"
    IDS_ADV_LEARN               "詳しく見る"
    IDS_ADV_CONSOLE             "コンソールを有効にする"
    IDS_ADV_MEMCHECK            "メモリ リークをダンプする"
    IDS_ADV_AUTOHIDE            "タスク バーをダブルクリックして自動的に隠す設定を切り替える (固定されている時のみ)"
    IDS_ADV_PAINTDESKTOPVERSION "Windows のビルド情報をデスクトップに表示する"
    IDS_ADV_CLASSICTHEME        "クラシック テーマを使用した正しいレンダリングのための高度な緩和を有効にする"
    IDS_ADV_SYSLISTVIEW32       "エクスプローラーのビューで SysListView32 を有効にする"
    IDS_ADV_NOPROPERTIES        "タスク バーのコンテキスト メニューを変更しない (例: ""プロパティ"" 項目を非表示にする)"
    IDS_ADV_SYMBOLS             "シンボルのダウンロードを有効化する"
    IDS_ADV_PINNEDITEMS         "ピン留めアイテムはクイック起動として機能する (アクティブなアプリとグループしない)"
    IDS_ADV_REMOVEEXTRAGAP      "タスク バーにボタン ラベルが表示されている場合、ピン留めアイテムの周りの余分な隙間を削除"
    IDS_ADV_DELAY               "ログオン時の遅延時間の補助"
    IDS_ADV_DELAY_0             "なし (デフォルト)"
    IDS_ADV_DELAY_300           "300 ミリ秒"
    IDS_ADV_DELAY_600           "600 ミリ秒"
    IDS_ADV_DELAY_1000          "1 秒"
    IDS_ADV_DELAY_1500          "1.5 秒"
    IDS_ADV_DELAY_2000          "2 秒"
    IDS_ADV_DELAY_3000          "3 秒"
    IDS_ADV_DELAY_4000          "4 秒"
    IDS_ADV_DELAY_5000          "5 秒"
    IDS_ADV_DELAY_6000          "6 秒"
    IDS_ADV_DELAY_8000          "8 秒"
    IDS_ADV_DELAY_10000         "10 秒"

    IDS_ABOUT                   "このプログラムについて"

    IDS_ABOUT_VERSION           "バージョン %d.%d.%d.%d%s"
    IDS_ABOUT_PROJECT           "このプロジェクトは、Windows 上での作業環境を改善することを目的としています。"
    IDS_ABOUT_AUTHOR            "Valentin-Gabriel Radu によって設計されました。"
    IDS_ABOUT_OS                "%s、OS ビルド %d.%d で実行中。"
    IDS_ABOUT_GITHUB            "プロジェクトの GitHub"
    IDS_ABOUT_WEBSITE           "Web サイト"
    IDS_ABOUT_DONATE            "寄付"
    IDS_ABOUT_FAQ               "よくある質問"
    IDS_ABOUT_SETTINGS          "これらの設定の管理の詳細"
    IDS_ABOUT_IMPORT            "設定をインポート"
    IDS_ABOUT_EXPORT            "現在の設定をエクスポート"
    IDS_ABOUT_EXPORT_SUCCESS    "設定のエクスポートに成功しました。"
    IDS_ABOUT_RESET             "デフォルトの設定を復元"

    IDS_FOOTER_RESTART          "エクスプローラーを再起動"
END
