#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_CHINESE_SIMPLIFIED, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_UPDATES_CHECKING_T      "正在检查更新…"
    IDS_UPDATES_AVAILABLE_T     "版本 %d.%d.%d.%d 可用"
    IDS_UPDATES_AVAILABLE_T_U   "有新版本可用"
    IDS_UPDATES_AVAILABLE_B     "您可以通过右键单击任务栏，选择“属性”，然后选择“更新”来更新。单击此处了解有关此更新的更多信息。"
    IDS_UPDATES_ISLATEST_T      "没有可用的更新"
    IDS_UPDATES_ISLATEST_B      "请稍后再检查。"
    IDS_UPDATES_CHECKFAILED_T   "无法检查更新"
    IDS_UPDATES_CHECKFAILED_B   "请确保您已连接到互联网并且远程服务器在线。"
    IDS_UPDATES_DOWNLOADING_T   "正在下载并安装更新…"
    IDS_UPDATES_SUCCESS_T       "更新成功"
    IDS_UPDATES_DLFAILED_T      "更新失败"
    IDS_UPDATES_DLFAILED_B      "在尝试安装此更新时，请求被拒绝或发生错误。"
    IDS_UPDATES_INSTALLEDVER    "已安装版本：%d.%d.%d.%d"
    IDS_UPDATES_PROMPT          "您想为 ExplorerPatcher 安装更新吗？\n\n下载自：\n%s"

    IDS_SYM_DL_T                "正在下载 %s 版本系统的符号，请稍候…"
    IDS_SYM_DL_B                "这可能需要几分钟的时间。目前，ExplorerPatcher 的功能可能有限且/或不完整。单击此处了解有关符号的更多信息。"
    IDS_SYM_SUCCESS_T           "成功下载 %s 版本系统的符号"
    IDS_SYM_SUCCESS_B           "请重新启动文件资源管理器以恢复正常功能。"
    IDS_SYM_FAILEDSOME_T        "已下载 %s 版本系统的一部分符号"
    IDS_SYM_FAILEDSOME_B        "无法下载其他一些符号。这可能是由于当前系统版本太新，或者互联网连接不稳定。"
    IDS_SYM_FAILEDALL_T         "无法下载 %s 版本系统的符号"
    IDS_SYM_FAILEDALL_B         "无法下载此构建的任何符号。这可能是由于当前的系统版本太新，或者互联网连接不可用或不稳定。"

    IDS_CRASH_TITLE             "不幸的是，文件资源管理器崩溃了 :("
    IDS_CRASH_BODY              "似乎文件资源管理器每次启动时，在 %2$d 秒内意外关闭了%1$s。这可能表明 ExplorerPatcher 的问题，例如在新的系统版本上运行时，可能不适配 Windows 的最新更改。\n以下是一些建议：\n• 如果有可用的更新版本，您可以<A HREF=""%3$s"">更新 ExplorerPatcher 并重新启动文件资源管理器</A>。\n• 在 GitHub 上，您可以<A HREF=""%4$s"">查看发布</A>、<A HREF=""%5$s"">检查当前状态</A>、<A HREF=""%6$s"">讨论</A>或<A HREF=""%7$s"">查看最新问题</A>。\n• 如果您怀疑这不是由 ExplorerPatcher 引起的，请卸载最近安装的任何 shell 扩展或类似的程序。\n• 如果目前没有可用的修复程序，您可以<A HREF=""%8$s"">卸载 ExplorerPatcher</A>，然后稍后在 GitHub 上发布修复程序时重新安装它。请放心，即使您卸载了，您的程序配置也将被保留。\n\n对于可能造成的不便，我感到很抱歉；我正在尽我所能尝试保持此程序更新和工作。\n\nExplorerPatcher 已禁用，直到下一次文件资源管理器重启，以便您执行维护任务并采取必要的操作。"
    IDS_CRASH_ONCE              "一次"
    IDS_CRASH_MULTIPLE          " %d 次"
    IDS_CRASH_DISMISS           "忽略"

    IDS_TB                      "任务栏"

    IDS_TB_STYLE                "任务栏样式"
    IDS_TB_STYLE_0              "Windows 11（默认）"
    IDS_TB_STYLE_1              "Windows 10"
    IDS_TB_MORE                 "设置应用中的更多任务栏选项"
    IDS_TB_CUSTOMIZETRAYICONS   "自定义通知区域图标"
    IDS_TB_CUSTOMIZESYSTEMICONS "自定义通知区域中的系统图标"
    IDS_TB_PRIMARYTBPOS         "主任务栏位置"
    IDS_TB_POSBOTTOM            "底部（默认）"
    IDS_TB_POSTOP               "顶部"
    IDS_TB_POSLEFT              "左侧"
    IDS_TB_POSRIGHT             "右侧"
    IDS_TB_SECONDARYTBPOS       "次要任务栏位置"
    IDS_TB_EXTRABTN             "额外按钮应该"
    IDS_TB_EXTRABTN_0           "隐藏（默认）"
    IDS_TB_EXTRABTN_2           "显示并打开 Cortana"
    IDS_TB_EXTRABTN_1           "显示并打开小组件"
    IDS_TB_SEARCHMODE_W11       "显示搜索按钮"
    IDS_TB_SEARCHMODE           "搜索"
    IDS_TB_SEARCHMODE_0         "隐藏"
    IDS_TB_SEARCHMODE_1         "显示搜索图标"
    IDS_TB_SEARCHMODE_2         "显示搜索框"
    IDS_TB_CORTANABTN           "显示 Cortana 按钮"
    IDS_TB_TASKVIEWBTN          "显示任务视图按钮"
    IDS_TB_WIDGETSBTN           "显示小组件按钮"
    IDS_TB_AUTOHIDETB           "自动隐藏任务栏"
    IDS_TB_STARTBTNSTYLE        "开始按钮样式"
    IDS_TB_STARTBTNSTYLE_0      "Windows 10（默认）"
    IDS_TB_STARTBTNSTYLE_1      "Windows 11"
    IDS_TB_PRIMARYTBALIGN       "主任务栏对齐"
    IDS_TB_TBALIGN_0            "在屏幕边缘（默认）"
    IDS_TB_TBALIGN_1            "居中"
    IDS_TB_TBALIGN_5            "居中，占满时在屏幕边缘"
    IDS_TB_TBALIGN_3            "居中并显示开始按钮"
    IDS_TB_TBALIGN_7            "居中并显示开始按钮，占满时在屏幕边缘"
    IDS_TB_SECONDARYTBALIGN     "次要任务栏对齐"
    IDS_TB_PRIMARYTBGLOM        "在主任务栏上合并任务栏图标"
    IDS_TB_GLOM_0_D             "始终合并（默认）"
    IDS_TB_GLOM_0               "始终合并"
    IDS_TB_GLOM_1               "任务栏占满时合并"
    IDS_TB_GLOM_2_D             "从不合并（默认）"
    IDS_TB_GLOM_2               "从不合并"
    IDS_TB_SECONDARYTBGLOM      "在次要任务栏上合并任务栏图标"
    IDS_TB_ICONSIZE             "任务栏图标大小"
    IDS_TB_ICONSIZE_1           "小"
    IDS_TB_ICONSIZE_0           "大（默认）"

    IDS_TRAY                    "系统托盘"

    IDS_TRAY_SKINMENUS          "美化任务栏和托盘弹出菜单"
    IDS_TRAY_CENTERMENUS        "居中托盘图标弹出菜单"
    IDS_TRAY_FLYOUTMENUS        "托盘图标弹出菜单使用面板行为"
    IDS_TRAY_TOUCHKB            "显示触摸键盘按钮"
    IDS_TRAY_SHOWSECONDS        "显示时钟秒数"
    IDS_TRAY_CCBTN              "控制中心按钮"
    IDS_TRAY_SHOWDESKTOPBTN     "显示桌面按钮"
    IDS_TRAY_SHOWDESKTOPBTN_1   "启用（默认）"
    IDS_TRAY_SHOWDESKTOPBTN_0   "禁用"
    IDS_TRAY_SHOWDESKTOPBTN_2   "隐藏"
    IDS_TRAY_SKINICONS          "将 Windows 11 样式应用于系统托盘图标"
    IDS_TRAY_REPLACENETWORK_L1  "在右键单击网络图标时选择“打开网络和 Internet 设置”，"
    IDS_TRAY_REPLACENETWORK_L2  "应该打开："
    IDS_TRAY_REPLACENETWORK_0   "设置应用中的网络部分（默认）"
    IDS_TRAY_REPLACENETWORK_1   "控制面板中的网络和共享中心"
    IDS_TRAY_REPLACENETWORK_2   "控制面板中的网络连接"
    IDS_TRAY_SYSICONBEHAVIOR    "单击系统托盘中的系统图标时，打开："
    IDS_TRAY_NETWORK            "网络"
    IDS_TRAY_NETWORK_6          "控制中心"
    IDS_TRAY_NETWORK_5          "Windows 11 WiFi 面板"
    IDS_TRAY_NETWORK_0          "Windows 10 面板（默认）"
    IDS_TRAY_NETWORK_2          "Windows 8 面板"
    IDS_TRAY_NETWORK_1          "设置应用中的网络部分"
    IDS_TRAY_SOUND              "声音"
    IDS_TRAY_SOUND_1            "Windows 10 面板（默认）"
    IDS_TRAY_SOUND_0            "Windows 7 面板"
    IDS_TRAY_CLOCK              "时钟"
    IDS_TRAY_CLOCK_2            "Windows 11 面板"
    IDS_TRAY_CLOCK_0            "Windows 10 面板（默认）"
    IDS_TRAY_CLOCK_1            "Windows 7"
    IDS_TRAY_CLOCK_2_W10        "操作中心"
    IDS_TRAY_BATTERY            "电池"
    IDS_TRAY_BATTERY_0          "Windows 10 面板（默认）"
    IDS_TRAY_BATTERY_1          "Windows 7"
    IDS_TRAY_LANGSWITCHER       "语言切换器"
    IDS_TRAY_LANGSWITCHER_0     "Windows 11（默认）"
    IDS_TRAY_LANGSWITCHER_1_21H2 "Windows 10（带有指向“语言首选项”的链接）"
    IDS_TRAY_LANGSWITCHER_7     "Windows 10"
    IDS_TRAY_LANGSWITCHER_1     "Windows 10（带有指向“语言首选项”的链接）（无动画）"
    IDS_TRAY_LANGSWITCHER_4     "Windows 10（无动画）"

    IDS_EXP                     "文件资源管理器"

    IDS_EXP_SHEXT_L1            "要使打开或保存文件对话框中标有（**） 的设置正常工作，"
    IDS_EXP_SHEXT_L2            "请使用下面的选项将此程序注册为 shell 扩展。"
    IDS_EXP_SHEXT_LEARN         "了解更多"
    IDS_EXP_SHEXT_REGISTER      "注册为 shell 扩展"
    IDS_EXP_DISABLECTXMENU      "禁用 Windows 11 上下文菜单"
    IDS_EXP_LEGACYFTDIALOG      "始终使用传统的文件传输对话框"
    IDS_EXP_CLASSICDRIVEGROUP   "在“此电脑”中使用经典的磁盘分组"
    IDS_EXP_CTRLINTF            "控制界面"
    IDS_EXP_CTRLINTF_0_W11      "Windows 11 命令栏（默认）"
    IDS_EXP_CTRLINTF_0_W10      "Windows 10 Ribbon（默认）"
    IDS_EXP_CTRLINTF_1_W11      "Windows 10 Ribbon"
    IDS_EXP_CTRLINTF_2          "Windows 7 命令栏"
    IDS_EXP_CTRLINTF_3          "Windows 11 命令栏（无选项卡，经典地址栏）"
    IDS_EXP_CTRLINTF_4          "Windows 11 命令栏（经典地址栏）"
    IDS_EXP_NEWWINDOWS          "以下设置将在新打开的文件资源管理器窗口上生效："
    IDS_EXP_IMMERSIVEMENUS      "在显示 Windows 10 上下文菜单时使用沉浸式菜单"
    IDS_EXP_DISABLENAVBAR       "禁用导航栏"
    IDS_EXP_DISABLESEARCHBAR    "禁用现代搜索栏"
    IDS_EXP_SHRINKADDRESSBAR    "缩小地址栏高度"
    IDS_EXP_HIDESEARCHBAR       "完全隐藏搜索栏"
    IDS_EXP_TITLEBAR            "标题栏"
    IDS_EXP_TITLEBAR_0          "显示图标和标题（默认）"
    IDS_EXP_TITLEBAR_1          "隐藏标题，显示图标"
    IDS_EXP_TITLEBAR_2          "隐藏图标，显示标题"
    IDS_EXP_TITLEBAR_3          "隐藏图标和标题"
    IDS_EXP_MICA                "在 Windows 7 文件资源管理器窗口的导航栏上应用云母效果"

    IDS_START                   "开始菜单"

    IDS_START_STYLE             "开始菜单样式"
    IDS_START_STYLE_0           "Windows 11（默认）"
    IDS_START_STYLE_1           "Windows 10"
    IDS_START_MORE              "设置应用中的更多开始菜单选项"
    IDS_START_POSITION          "在屏幕上的位置"
    IDS_START_POSITION_0        "屏幕边缘"
    IDS_START_POSITION_1        "居中（默认）"
    IDS_START_MAXFREQAPPS       "常用应用的最大显示数量"
    IDS_START_MAXFREQAPPS_0     "无"
    IDS_START_MAXFREQAPPS_6     "6（默认）"
    IDS_START_MAXFREQAPPS_99999 "无限制"
    IDS_START_MONITOROVERRIDE_L1 "使用多个显示器时，键盘在此显示器上"
    IDS_START_MONITOROVERRIDE_L2 "唤起开始菜单"
    IDS_START_MONITOROVERRIDE_1 "主显示器（默认）"
    IDS_START_MONITOROVERRIDE_0 "鼠标指针所在的显示器"
    IDS_START_MONITOROVERRIDE_2 "显示器 2"
    IDS_START_MONITOROVERRIDE_3 "显示器 3"
    IDS_START_MONITOROVERRIDE_4 "显示器 4"
    IDS_START_MONITOROVERRIDE_5 "显示器 5"
    IDS_START_MONITOROVERRIDE_6 "显示器 6"
    IDS_START_MONITOROVERRIDE_7 "显示器 7"
    IDS_START_MONITOROVERRIDE_8 "显示器 8"
    IDS_START_MONITOROVERRIDE_9 "显示器 9"
    IDS_START_NORECOMMENDED     "禁用“推荐”部分"
    IDS_START_MAKEALLAPPSDEFAULT "默认打开开始菜单的所有应用"
    IDS_START_SHOWMORETILES     "显示更多磁贴"
    IDS_START_CORNERPREF        "圆角偏好"
    IDS_START_CORNERPREF_1      "有圆角，浮动菜单"
    IDS_START_CORNERPREF_2      "有圆角，停靠菜单"
    IDS_START_CORNERPREF_0      "无圆角"
    IDS_START_DISPLAYMODE       "显示模式"
    IDS_START_DISPLAYMODE_0     "默认"
    IDS_START_DISPLAYMODE_1     "开始菜单"
    IDS_START_DISPLAYMODE_2     "全屏开始"
    IDS_START_APPLIST           "应用列表"
    IDS_START_APPLIST_0         "显示"
    IDS_START_APPLIST_3         "隐藏"
    IDS_START_APPLIST_1         "禁用"
    IDS_START_NOTICE            "重要，必读：关于此功能的通知（在线）"
    IDS_START_WIN10_NOTICE      "某些设置可能在较旧的 Windows 10 版本中不可用。"

    IDS_AT                      "窗口切换器"

    IDS_AT_STYLE                "窗口切换器（Alt+Tab）样式"
    IDS_AT_STYLE_0_W11          "Windows 11（默认）"
    IDS_AT_STYLE_0_W10          "Windows 10（默认）"
    IDS_AT_STYLE_3              "Windows 10"
    IDS_AT_STYLE_1              "Windows NT"
    IDS_AT_STYLE_2              "简单窗口切换器"
    IDS_AT_SWS_INCLUDEWALLPAPER "将桌面显示为交互列表中的最后一个窗口"
    IDS_AT_SWS_PRIMARYONLY      "始终在主显示器上显示切换器"
    IDS_AT_SWS_PERMONITOR       "仅显示光标所在显示器中的窗口"
    IDS_AT_SWS_GROUPWINDOWS     "组合同一应用的不同窗口"
    IDS_AT_SWS_NOPERAPP         "禁用单个应用的交互列表（Alt + %c）"
    IDS_AT_SWS_THEME            "主题"
    IDS_AT_SWS_THEME_0          "默认"
    IDS_AT_SWS_THEME_1          "亚克力"
    IDS_AT_SWS_THEME_2          "云母（始终不透明）"
    IDS_AT_SWS_OPACITY          "不透明度"
    IDS_AT_SWS_OPACITY_100      "不透明"
    IDS_AT_SWS_OPACITY_95       "95 %（默认）"
    IDS_AT_SWS_COLORSCHEME      "颜色方案"
    IDS_AT_SWS_COLORSCHEME_0    "跟随系统设置（默认）"
    IDS_AT_SWS_COLORSCHEME_1    "浅色"
    IDS_AT_SWS_COLORSCHEME_2    "深色"
    IDS_AT_SWS_CORNERPREF       "圆角偏好"
    IDS_AT_SWS_CORNERPREF_2     "有圆角（默认）"
    IDS_AT_SWS_CORNERPREF_3     "小圆角"
    IDS_AT_SWS_CORNERPREF_1     "无圆角"
    IDS_AT_SWS_ROWHEIGHT        "行高"
    IDS_AT_SWS_ROWHEIGHT_230    "230 pt（默认）"
    IDS_AT_SWS_MAXWIDTH         "最大宽度（屏幕宽度的百分比）"
    IDS_AT_SWS_MAXWIDTH_100     "100 %（不推荐）"
    IDS_AT_SWS_MAXWIDTH_80      "80 %（默认）"
    IDS_AT_SWS_MAXHEIGHT        "最大高度（屏幕高度的百分比）"
    IDS_AT_SWS_MAXHEIGHT_100    "100 %（不推荐）"
    IDS_AT_SWS_MAXHEIGHT_80     "80 %（默认）"
    IDS_AT_SWS_PADDING          "窗口边距"
    IDS_AT_SWS_PADDING_20       "20 pt（默认）"
    IDS_AT_SWS_PADDING_0        "无"
    IDS_AT_SWS_SHOWDELAY        "显示延迟"
    IDS_AT_SWS_SHOWDELAY_0      "无"
    IDS_AT_SWS_SHOWDELAY_25     "25 毫秒"
    IDS_AT_SWS_SHOWDELAY_50     "50 毫秒"
    IDS_AT_SWS_SHOWDELAY_75     "75 毫秒"
    IDS_AT_SWS_SHOWDELAY_100    "100 毫秒（默认）"
    IDS_AT_SWS_SHOWDELAY_125    "125 毫秒"
    IDS_AT_SWS_SHOWDELAY_150    "150 毫秒"
    IDS_AT_SWS_SHOWDELAY_200    "200 毫秒"
    IDS_AT_SWS_SHOWDELAY_300    "300 毫秒"
    IDS_AT_SWS_SHOWDELAY_400    "400 毫秒"
    IDS_AT_SWS_SHOWDELAY_500    "500 毫秒"
    IDS_AT_SWS_SCROLLWHEEL      "使用滚轮更改选择"
    IDS_AT_SWS_SCROLLWHEEL_0    "从不（默认）"
    IDS_AT_SWS_SCROLLWHEEL_1    "当光标位于切换器上方时"
    IDS_AT_SWS_SCROLLWHEEL_2    "始终"
    IDS_AT_SWS_LEARN            "了解更多关于简单窗口切换器的信息"
    
    IDS_WEATHER                 "天气"

    IDS_WEATHER_SHOW            "在任务栏上显示天气"
    IDS_WEATHER_LOC             "位置"
    IDS_WEATHER_LOC_PROMPT      "搜索城市或邮政编码；程序会在 Google 上搜索 ""weather in /* 输入内容 */""。留空为默认值（当前位置）。"
    IDS_WEATHER_LOC_DEFAULT     "当前位置（默认）"
    IDS_WEATHER_LAYOUT          "布局"
    IDS_WEATHER_LAYOUT_0        "图标和描述（默认）"
    IDS_WEATHER_LAYOUT_3        "图标和温度"
    IDS_WEATHER_LAYOUT_1        "仅图标"
    IDS_WEATHER_LAYOUT_4        "仅温度"
    IDS_WEATHER_LAYOUT_5        "温度和描述"
    IDS_WEATHER_SIZE            "小部件大小"
    IDS_WEATHER_SIZE_0          "自动（适合内容）（默认）"
    IDS_WEATHER_SIZE_2          "自动（适合内容）带阈值"
    IDS_WEATHER_SIZE_1          "固定"
    IDS_WEATHER_POSITION        "小部件位置"
    IDS_WEATHER_POSITION_0      "右侧 / 底部（默认）"
    IDS_WEATHER_POSITION_1      "左侧 / 顶部"
    IDS_WEATHER_UPDATEFREQ      "更新频率"
    IDS_WEATHER_UPDATEFREQ_60   "每分钟"
    IDS_WEATHER_UPDATEFREQ_300  "每 5 分钟"
    IDS_WEATHER_UPDATEFREQ_900  "每 15 分钟"
    IDS_WEATHER_UPDATEFREQ_1200 "每 20 分钟（默认）"
    IDS_WEATHER_UPDATEFREQ_1800 "每半小时"
    IDS_WEATHER_UPDATEFREQ_3600 "每小时"
    IDS_WEATHER_UPDATEFREQ_7200 "每几小时"
    IDS_WEATHER_TEMPUNIT        "温度单位"
    IDS_WEATHER_TEMPUNIT_0      "摄氏度（默认）"
    IDS_WEATHER_TEMPUNIT_1      "华氏度"
    IDS_WEATHER_LANG            "语言"
    IDS_WEATHER_LANG_PROMPT     "输入您希望天气数据显示的语言的简码。例如，尝试“en”“ro”“de”“fr”等。留空为默认值（Windows 操作系统的语言）。"
    IDS_WEATHER_LANG_DEFAULT    "系统语言（默认）"
    IDS_WEATHER_COLORSCHEME     "配色方案"
    IDS_WEATHER_COLORSCHEME_0   "跟随系统设置（默认）"
    IDS_WEATHER_COLORSCHEME_1   "浅色"
    IDS_WEATHER_COLORSCHEME_2   "深色"
    IDS_WEATHER_CORNERPREF      "圆角偏好"
    IDS_WEATHER_CORNERPREF_2    "有圆角（默认）"
    IDS_WEATHER_CORNERPREF_3    "小圆角"
    IDS_WEATHER_CORNERPREF_1    "无圆角"
    IDS_WEATHER_ICONPACK        "图标包"
    IDS_WEATHER_ICONPACK_0      "Microsoft（默认）"
    IDS_WEATHER_ICONPACK_1      "Google"
    IDS_WEATHER_CONTENTSMODE    "显示小部件内容"
    IDS_WEATHER_CONTENTSMODE_0  "单行（默认）"
    IDS_WEATHER_CONTENTSMODE_1  "双行，如果可能"
    IDS_WEATHER_ZOOM            "缩放"
    IDS_WEATHER_ZOOM_100        "100%（默认）"
    IDS_WEATHER_LEARN           "了解有关天气任务栏小部件的更多信息"
    IDS_WEATHER_LASTUPDATE      "上次更新时间：%s，%s。"
    IDS_WEATHER_UPDATE          "立即更新天气"
    IDS_WEATHER_CLEAR           "清除天气小部件本地数据"
    IDS_WEATHER_CLEAR_PROMPT    "您确定要永久清除天气小部件的本地数据吗？\n\n这将重置内部组件为默认状态，但会保留您的首选项。这可能会修复小部件无法正确加载数据或布局问题等。"
    IDS_WEATHER_CLEAR_WAIT      "请稍候……"
    IDS_WEATHER_CLEAR_SUCCESS   "天气小部件数据已成功清除。"
    IDS_WEATHER_CLEAR_FAILED    "清除数据时发生错误。"

    IDS_SP                      "聚焦"

    IDS_SP_HIDEICON             "隐藏“了解此图片”图标"
    IDS_SP_DESKTOPMENU          "桌面上下文菜单项"
    IDS_SP_DESKTOPMENU_0        "无项目"
    IDS_SP_DESKTOPMENU_32       "切换到下一张图片"
    IDS_SP_DESKTOPMENU_48       "了解更多、切换到下一张图片"
    IDS_SP_DESKTOPMENU_288      "信息、切换到下一张图片"
    IDS_SP_DESKTOPMENU_800      "信息、版权、切换到下一张图片"
    IDS_SP_DESKTOPMENU_304      "信息、了解更多、切换到下一张图片"
    IDS_SP_DESKTOPMENU_816      "信息、版权、了解更多、切换到下一张图片"
    IDS_SP_DESKTOPMENU_1008     "所有项目"
    IDS_SP_UPDATEFREQ           "更新频率"
    IDS_SP_UPDATEFREQ_0         "让 Windows 决定最佳计划（默认）"
    IDS_SP_UPDATEFREQ_60        "每分钟"
    IDS_SP_UPDATEFREQ_300       "每 5 分钟"
    IDS_SP_UPDATEFREQ_900       "每 15 分钟"
    IDS_SP_UPDATEFREQ_1200      "每 20 分钟"
    IDS_SP_UPDATEFREQ_1800      "每半小时"
    IDS_SP_UPDATEFREQ_3600      "每小时"
    IDS_SP_UPDATEFREQ_7200      "每几小时"
    IDS_SP_UPDATEFREQ_21600     "每 6 小时"
    IDS_SP_UPDATEFREQ_43200     "每 12 小时"
    IDS_SP_UPDATEFREQ_86400     "每天一次"
    IDS_SP_MOREOPTIONS          "显示更多选项"

    IDS_OTHER                   "其他"

    IDS_OTHER_REMEMBERLAST      "记住上次在此窗口中使用的部分"
    IDS_OTHER_CLOCKFLYOUT       "按下 Win+C 时，打开时钟弹出窗口，而不是 Microsoft Teams"
    IDS_OTHER_TOOLBARSEPARATORS "在任务栏工具栏之间显示分隔符"
    IDS_OTHER_WINXPROPERTIES    "在 Win+X 菜单中添加到程序设置的快捷方式"
    IDS_OTHER_DONTUSEPOWERSHELL "在 Win+X 菜单中显示命令提示符，而不是 PowerShell"
    IDS_OTHER_WINXACCELERATOR   "从 Win+X 菜单中的程序设置项中删除快捷键"
    IDS_OTHER_DISABLEOFFICE     "禁用 Office 快捷键（Ctrl+Alt+Shift+Windows 组合键）"
    IDS_OTHER_DISABLEWINF       "禁用 Win+F（反馈中心） 快捷键"
    IDS_OTHER_DISABLERC         "禁用应用程序窗口的圆角"
    IDS_OTHER_DISABLEAEROSNAP   "禁用贴靠窗口时的四分位"
    IDS_OTHER_SNAPASSISTSTYLE   "贴靠辅助样式"
    IDS_OTHER_SNAPASSISTSTYLE_0 "Windows 11（默认）"
    IDS_OTHER_SNAPASSISTSTYLE_3 "Windows 10"
    IDS_OTHER_PWRBTNACTION      "桌面上 Alt+F4 对话框中的默认操作"
    IDS_OTHER_PWRBTNACTION_256  "切换用户"
    IDS_OTHER_PWRBTNACTION_1    "注销"
    IDS_OTHER_PWRBTNACTION_16   "睡眠"
    IDS_OTHER_PWRBTNACTION_64   "休眠"
    IDS_OTHER_PWRBTNACTION_2    "关机（默认）"
    IDS_OTHER_PWRBTNACTION_4    "重启"
    IDS_OTHER_NOREDIRECT        "防止以下控制面板链接被重定向到设置应用程序:"
    IDS_OTHER_NOREDIRECT_SYSTEM "系统 / 关于页面"
    IDS_OTHER_NOREDIRECT_PROGRAMS "程序和功能"
    IDS_OTHER_NOREDIRECT_DATETIME "调整日期/时间"
    IDS_OTHER_NOREDIRECT_TRAYICONS "自定义通知图标"

    IDS_UPDATES                 "更新"

    IDS_UPDATES_POLICY          "当文件资源管理器启动时"
    IDS_UPDATES_POLICY_1        "通知可用更新（默认）"
    IDS_UPDATES_POLICY_0        "提示安装可用更新"
    IDS_UPDATES_POLICY_2        "不检查更新"
    IDS_UPDATES_PREFER_STAGING  "接收预发布版本，如果可用（不推荐）"
    IDS_UPDATES_DOWNGRADES      "建议服务器上的最新版本，即使它比较旧（不推荐）"
    IDS_UPDATES_UPDATESERVERS   "更新服务器:"
    IDS_UPDATES_RELEASES        "发布"
    IDS_UPDATES_RELEASES_PROMPT "输入一个遵循 GitHub 发布 API 的 URL。要了解如何配置自己的更新服务器，请参阅 wiki。"
    IDS_UPDATES_STAGING         "预发布"
    IDS_UPDATES_STAGING_PROMPT  "输入一个遵循 GitHub 预发布 API 的 URL。要了解如何配置自己的更新服务器，请参阅 wiki。"
    IDS_UPDATES_CHECK           "检查更新"
    IDS_UPDATES_INSTALL         "更新程序并重新启动文件资源管理器"
    IDS_UPDATES_CHANGES         "阅读最新版本的更改"
    IDS_UPDATES_LEARN           "了解更多"

    IDS_ADV                     "高级"

    IDS_ADV_DISCLAIMER          "仅在阅读相关文档后更改这些设置。"
    IDS_ADV_LEARN               "了解更多"
    IDS_ADV_CONSOLE             "启用控制台"
    IDS_ADV_MEMCHECK            "转储内存泄漏"
    IDS_ADV_AUTOHIDE            "双击任务栏以切换自动隐藏（仅在锁定时有效）"
    IDS_ADV_PAINTDESKTOPVERSION "在桌面上显示 Windows 构建信息"
    IDS_ADV_CLASSICTHEME        "启用高级缓解措施以正确渲染经典主题"
    IDS_ADV_SYSLISTVIEW32       "为资源管理器视图启用 SysListView32"
    IDS_ADV_NOPROPERTIES        "不要更改任务栏上下文菜单（例如不要显示“属性”项）"
    IDS_ADV_SYMBOLS             "启用符号下载"
    IDS_ADV_PINNEDITEMS         "固定的项目作为快速启动（不与活动应用程序组合）"
    IDS_ADV_REMOVEEXTRAGAP      "当任务栏显示按钮标签时，删除固定项周围的额外间隙"
    IDS_ADV_DELAY               "登录时的额外延迟"
    IDS_ADV_DELAY_0             "无（默认）"
    IDS_ADV_DELAY_300           "300 毫秒"
    IDS_ADV_DELAY_600           "600 毫秒"
    IDS_ADV_DELAY_1000          "1 秒"
    IDS_ADV_DELAY_1500          "1.5 秒"
    IDS_ADV_DELAY_2000          "2 秒"
    IDS_ADV_DELAY_3000          "3 秒"
    IDS_ADV_DELAY_4000          "4 秒"
    IDS_ADV_DELAY_5000          "5 秒"
    IDS_ADV_DELAY_6000          "6 秒"
    IDS_ADV_DELAY_8000          "8 秒"
    IDS_ADV_DELAY_10000         "10 秒"

    IDS_ABOUT                   "关于"

    IDS_ABOUT_VERSION           "版本 %d.%d.%d.%d%s"
    IDS_ABOUT_PROJECT           "该项目旨在增强 Windows 的工作环境。"
    IDS_ABOUT_AUTHOR            "由 Valentin-Gabriel Radu 荣誉出品。"
    IDS_ABOUT_OS                "运行于 %s，系统版本 %d.%d。"
    IDS_ABOUT_GITHUB            "访问项目 GitHub"
    IDS_ABOUT_WEBSITE           "访问网站"
    IDS_ABOUT_DONATE            "捐赠"
    IDS_ABOUT_FAQ               "常见问题"
    IDS_ABOUT_SETTINGS          "了解更多管理这些设置"
    IDS_ABOUT_IMPORT            "导入设置"
    IDS_ABOUT_EXPORT            "导出当前设置"
    IDS_ABOUT_EXPORT_SUCCESS    "设置已成功导出。"
    IDS_ABOUT_RESET             "恢复默认设置"

    IDS_FOOTER_RESTART          "重启资源管理器"
END
