#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN_DE

STRINGTABLE
BEGIN
    IDS_SETUP_UNINSTALL_PROMPT  "Sind Sie sicher, dass Sie ExplorerPatcher von Ihrem PC entfernen möchten?"
    IDS_SETUP_INSTALL_LOGOFF    "Um die Installation abzuschließen wird Ihr Benutzer automatisch abgemeldet. ExplorerPatcher ist nach der Anmeldung für die Nutzung bereit.\n\nMöchten Sie fortfahren?"
    IDS_SETUP_UNINSTALL_LOGOFF  "Um die Deinstallation abzuschließen wird Ihr Benutzer automatisch abgemeldet.\n\nMöchten Sie fortfahren?"
    IDS_SETUP_UNINSTALL_RESTART "Zum Abschluss der Deinstallation ist ein Neustart des PCs notwendig.\n\nMöchten Sie jetzt neustarten?"
    IDS_SETUP_UNINSTALL_FINISH  "Deinstallation abgeschlossen. Danke für die Nutzung von ExplorerPatcher."
    IDS_SETUP_FAILED            "Bei der Wartung von ExplorerPatcher ist ein Fehler aufgetreten.\nHöchstwahrscheinlich wird dies von Dateien eines früheren Updates verursacht, die noch in Benutzung sind. Entsperren der Dateien Sollte das Problem beheben.\n\nSchritte zur Problemlösung:\n• Schließen und öffnen Sie dann wieder den ""Eigenschaften""-Dialog, falls dieser gerade geöffnet ist.\n• Beenden und neustarten Sie alle ""explorer.exe""-Prozesse.\n• Sollten Sie ExplorerPatcher als Shell-Erweiterung installiert haben, wird ein PC-Neustart den Fehler wahrscheinlich beheben.\n• Zuletzt bleibt den PC neuzustarten und es erneut zu versuchen."
END
