#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA

STRINGTABLE
BEGIN
    IDS_SETUP_UNSUPPORTED_ARCH  "Запускайте %1$s версию установочного файла на устройствах %1$s. Этот установочный файл предназначен только для устройств %2$s."
    IDS_SETUP_UNINSTALL_PROMPT  "Вы действительно хотите удалить ExplorerPatcher с вашего ПК?"
    IDS_SETUP_INSTALL_LOGOFF    "Для завершения установки произойдёт автоматический выход из системы. ExplorerPatcher будет готов после повторного входа.\n\nХотите продолжить?"
    IDS_SETUP_UNINSTALL_LOGOFF  "Для завершения удаления произойдёт автоматический выход из системы.\n\nХотите продолжить?"
    IDS_SETUP_UNINSTALL_RESTART "Перезагрузите ПК для завершения удаления.\n\nПерезагрузить сейчас?"
    IDS_SETUP_UNINSTALL_FINISH  "Удаление завершено. Спасибо за использование ExplorerPatcher."
    IDS_SETUP_FAILED            "Во время обслуживания ExplorerPatcher произошла ошибка.\nВероятнее всего, она вызвана одной или несколькими резервными копиями от предыдущего обновления, которые всё ещё используются. В этой ситуации может помочь разблокирование этих файлов.\n\nПошаговое решение проблемы:\n• Закройте и снова откройте окно ""Свойства"", если оно уже открыто.\n• Завершите и перезапустите все процессы ""explorer.exe"".\n• Если вы зарегистрировали ExplorerPatcher в качестве расширения оболочки, должна помочь перезагрузка ПК.\n• Если и это не помогло, перезагрузите ПК и попробуйте ещё раз."
END
