#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_UKRAINIAN, SUBLANG_UKRAINIAN_UKRAINE

STRINGTABLE
BEGIN
    IDS_SETUP_UNSUPPORTED_ARCH  "Please run the %1$s version of the setup file on %1$s devices. This setup file is only for %2$s devices."
    IDS_SETUP_UNINSTALL_PROMPT  "Ви дійсно хочете видалити ExplorerPatcher\nз вашого компютера?"
    IDS_SETUP_INSTALL_LOGOFF    "Для того, щоб встановити програму, ви повинні будете автоматично вийти з Windows. ExplorerPatcher стане доступним для використання одразу після входу в систему.\n\nБажаєте продовжити?"
    IDS_SETUP_UNINSTALL_LOGOFF  "Щоб завершити деінсталяцію, буде здійснено автоматичний вихід з Windows.\n\nБажаєте продовжити?"
    IDS_SETUP_UNINSTALL_RESTART "Будь ласка, перезавантажте комп'ютер, щоб завершити видалення.\n\nБажаєте перезавантажити зараз?"
    IDS_SETUP_UNINSTALL_FINISH  "Видалення завершено.\nДякуємо за використання ExplorerPatcher."
    IDS_SETUP_FAILED            "Під час вставнолення ExplorerPatcher сталася помилка.\nНайімовірніше, це спричинено тим, що один або кілька файлів резервної копії з попереднього оновлення все ще використовуються.\nРозблокування файлів має вирішити цю проблему.\n\nКроки по усуненню помилок:\n• Закрийте і знову відкрийте діалогове вікно ""Властивості"", якщо воно відкрите.\n• Завершіть і перезапустіть всі процеси ""explorer.exe"".\n• Якщо ви зареєстрували ExplorerPatcher як розширення оболонки, перезавантаження комп'ютера виправить цю проблему.\n• Насамкінець перезавантажте комп'ютер і спробуйте ще раз."
END
