#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_HELLENIC(GREEK), SUBLANG_HELLENIC_GR

STRINGTABLE
BEGIN
    IDS_SETUP_UNSUPPORTED_ARCH  "Εκτελέστε την έκδοση %1$s του αρχείου εγκατάστασης σε %1$s συσκευές. Αυτό το αρχείο εγκατάστασης είναι μόνο για %2$s συσκευές."
    IDS_SETUP_UNINSTALL_PROMPT  "Είστε σίγουροι ότι θέλετε να καταργήσετε το ExplorerPatcher από τον υπολογιστή σας;"
    IDS_SETUP_INSTALL_LOGOFF    "Για να εγκαταστήσετε, θα αποσυνδεθείτε αυτόματα από τα Windows. Το ExplorerPatcher θα είναι έτοιμο για χρήση όταν συνδεθείτε ξανά.\n\nΘέλετε να συνεχίσετε;"
    IDS_SETUP_UNINSTALL_LOGOFF  "Για να ολοκληρωθεί η απεγκατάσταση, θα αποσυνδεθείτε αυτόματα από τα Windows.\n\nΘέλετε να συνεχίσετε;"
    IDS_SETUP_UNINSTALL_RESTART "Επανεκκινήστε τον υπολογιστή για να ολοκληρώσετε την απεγκατάσταση.\n\nΘέλετε να γίνει επανεκκίνηση τώρα;"
    IDS_SETUP_UNINSTALL_FINISH  "Η απεγκατάσταση ολοκληρώθηκε. Σας ευχαριστούμε που χρησιμοποιήσατε το ExplorerPatcher.."
    IDS_SETUP_FAILED            "Παρουσιάστηκε σφάλμα κατά την συντήρηση του ExplorerPatcher.\nΑυτό πιθανότατα προκαλείται από ένα ή περισσότερα από τα αρχεία αντιγράφων ασφαλείας από μια προηγούμενη ενημέρωση που εξακολουθούν να χρησιμοποιούνται. Το ξεκλείδωμα των αρχείων θα πρέπει να διορθώσει αυτό το πρόβλημα.\n\nΒήματα αντιμετώπισης προβλημάτων:\n• Κλείστε και ανοίξτε ξανά το παράθυρο διαλόγου «Ιδιότητες»", εάν είναι ανοιχτό αυτήν τη στιγμή.\n• Τερματίστε και επανεκκινήστε όλες τις διεργασίες "explorer.exe".\n• Εάν έχετε καταχωρίσει το ExplorerPatcher ως επέκταση κελύφους, τότε η επανεκκίνηση του υπολογιστή πιθανότατα θα διορθώσει αυτό το πρόβλημα.\n• Τέλος, επανεκκινήστε τον υπολογιστή και προσπαθήστε ξανά."
END
