#include "resources/resource.h"
#include "winres.h"

LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

STRINGTABLE
BEGIN
    IDS_SETUP_UNSUPPORTED_ARCH  "Execute a versão %1$s do instalador em dispositivos %1$s. Este instalador é exclusivo para dispositivos %2$s."
    IDS_SETUP_UNINSTALL_PROMPT  "Tem certeza de que deseja remover o ExplorerPatcher do seu computador?"
    IDS_SETUP_INSTALL_LOGOFF    "Para instalar, você será desconectado do Windows automaticamente. O ExplorerPatcher estará disponível após o próximo login.\n\nDeseja continuar?"
    IDS_SETUP_UNINSTALL_LOGOFF  "Para concluir a desinstalação, você será desconectado do Windows automaticamente.\n\nDeseja continuar?"
    IDS_SETUP_UNINSTALL_RESTART "Reinicie o computador para finalizar a desinstalação.\n\nDeseja reiniciar agora?"
    IDS_SETUP_UNINSTALL_FINISH  "Desinstalação concluída. Obrigado por usar o ExplorerPatcher."
    IDS_SETUP_FAILED            "Ocorreu um erro ao instalar o ExplorerPatcher.\nIsso pode ser devido a arquivos de backup de uma atualização anterior ainda em uso. Desbloquear os arquivos deve resolver o problema.\n\nSolução de problemas:\n• Feche e reabra a janela \"Propriedades\" se estiver aberta.\n• Encerre e reinicie todos os processos \"explorer.exe\".\n• Se o ExplorerPatcher estiver registrado como uma extensão do shell, reinicie o computador.\n• Por fim, reinicie o computador e tente novamente."
END
